@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  list-style-type: none;
  text-decoration: none;
  scrollbar-width: thin;
  scrollbar-color: #1d1b31 #eee;
}

body {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #eee;
  overflow: hidden;
}

.sidebar {
  z-index: 555;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: #11101d;
  padding: 6px 14px;
  transition: all 0.5s ease;
}

.sidebar__log-out {
  color: #fff;
}

.sidebar_active {
  width: 240px;
}

.sidebar_active .sidebar__logo {
  opacity: 1;
  pointer-events: none;
}

.sidebar_active #menu-btn {
  left: 90%;
}

.sidebar__logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar__logo i {
  font-size: 28px;
  margin-right: 5px;
}

.sidebar__logo-name {
  font-size: 20px;
  font-weight: 400;
}

.sidebar__list {
  margin-top: 20px;
}

.sidebar__list li {
  position: relative;
  height: 50px;
  width: 100%;
  list-style: none;
  margin: 0 5px;
  line-height: 50px;
}

.sidebar__list li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
}

.sidebar__list li a:hover {
  background: #fff;
  color: #11101d;
}

.sidebar__list li i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.sidebar__list li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding-left: 50px;
  font-size: 18px;
  color: #fff;
}

.sidebar__list li .bx-search {
  position: absolute;
  z-index: 111;
  color: #fff;
  font-size: 22px;
  transition: all 0.5s ease;
}

.sidebar__list li .bx-search:hover {
  background: #fff;
  color: #1d1b31;
}

.sidebar__link-name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar_active .sidebar__link-name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar__tooltip {
  position: absolute;
  height: 35px;
  left: 122px;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  width: 122px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}

.sidebar__list li:hover .sidebar__tooltip {
  transition: all 0.5s ease;
  top: 50%;
  opacity: 1;
}

.sidebar_active .sidebar__list li .sidebar__tooltip {
  display: none;
}

.sidebar__profile-content {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sidebar__profile {
  position: relative;
  padding: 10px 6px;
  background: none;
  transition: all 0.5s ease;
}

.sidebar_active .sidebar__profile {
  background: #1d1b31;
}

.sidebar__profile-details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: normal;
}

.sidebar__profile-details img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
}

.sidebar_active .sidebar__profile-details {
  opacity: 1;
  pointer-events: auto;
}

.sidebar__profile-data {
  margin-left: 10px;
}

.sidebar__profile-job {
  font-size: 11px;
}

.sidebar__profile-name {
  font-size: 15px;
  font-weight: 400;
}

.sidebar__profile-company {
  font-size: 12px;
}

.workspace {
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  transition: all 0.5s ease;
}

.workspace__container {
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}

.workspace__left {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 25px;
  width: 550px;
}

#menu-btn {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

#log-out {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.5s ease;
  background: #1d1b31;
  color: #fff;
}

.sidebar_active #log-out {
  left: 88%;
  background: none;
}

.sidebar_active ~ .workspace {
  width: calc(100% - 240px);
  left: 240px;
}

.main {
  width: 100%;
  padding: 15px;
  overflow: hidden;
  overflow-y: auto;
}

.task-list {
  width: 100%;
}

.task-list__wrapper {
  background: #fff;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-width: 0;
  transition: all 0.2s;
  margin-bottom: 30px !important;
}

.task-list__header {
  display: flex;
  align-items: center;
  color: rgba(13, 27, 62, 0.7);
  font-weight: 400;
  font-size: 22px;
  background-color: #fff;
  border-bottom: 1px solid rgba(26, 54, 126, 0.125);
  padding: 5px 10px;
  height: 3.5rem;
}

.task-list__header i {
  font-size: 28px;
  margin-right: 8px;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%) !important;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.task-list__body {
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: left;
  margin-left: 0.625rem;
}

.task-list__scroll-area {
  position: static;
  height: 250px;
  overflow: scroll;
  overflow-x: scroll;
  overflow-x: hidden;
}

.task-list__item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-left: 0;
  border-right: 0;
}

.task-list__item:first-child {
  border-top: 0;
}

.task-list__indicator {
  position: absolute;
  width: 4px;
  height: 60%;
  border-radius: 0.3rem;
  left: 0.625rem;
  top: 20%;
  opacity: 0.6;
  transition: opacity 0.2s;
  background-color: red;
}

.task-list__content {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.task-list__check-widget {
  margin-left: 0.625rem;
}

.task-list__title {
  font-size: 0.88rem;
  font-weight: bold;
  line-height: 1.5;
  opacity: 0.8;
  color: #495057;
}

.task-list__subtitle {
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: left;
  opacity: 0.5;
}

.task-list__actions {
  margin-left: auto;
}

.task-list__list-btns-ok {
  color: #fff;
  background-color: #3ac47d;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.375rem 0.75rem;
  outline: none !important;
  border: none !important;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
}

.task-list__list-btns-del {
  color: #fff;
  background-color: #d92550;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.375rem 0.75rem;
  outline: none !important;
  border: none !important;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
}

.task-list__footer {
  text-align: right;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border-top: 1px solid rgba(26, 54, 126, 0.125);
}

.task-list__footer-btns {
  color: #fff;
  background-color: #3f6ad8;
  border-color: #3f6ad8;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 500;
  outline: none !important;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
}

.comment-box {
  width: 100%;
}

.comment-box__wrapper {
  background: #fff;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-width: 0;
  transition: all 0.2s;
  margin-bottom: 30px !important;
}

.comment-box__header {
  display: flex;
  align-items: center;
  color: rgba(13, 27, 62, 0.7);
  font-weight: 400;
  font-size: 22px;
  background-color: #fff;
  border-bottom: 1px solid rgba(26, 54, 126, 0.125);
  padding: 5px 10px;
  height: 3.5rem;
}

.comment-box__header i {
  font-size: 28px;
  margin-right: 8px;
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%) !important;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.comment-box__scroll-area {
  position: static;
  height: 250px;
  overflow: scroll;
  overflow-x: scroll;
  overflow-x: hidden;
}

.comment-box__message {
  padding: 0.75rem;
  display: flex;
  flex-wrap: nowrap;
}

.comment-box__avatar {
  border-radius: 0.39rem !important;
  border: #fff solid 3px;
  overflow: hidden;
  display: block;
  width: 44px;
  height: 44px;
  transition: all 0.2s;
  opacity: 1;
}

.comment-box__avatar img {
  width: 100%;
  height: 100%;
}

.comment-box__text {
  box-shadow: 0 0 0 transparent;
  position: relative;
  opacity: 1;
  background: #e0f3ff;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  border-top-left-radius: 0.25rem;
  display: flex;
  max-width: 50%;
  min-width: 100%;
  text-align: left;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
}

.comment-box__my-text {
  box-shadow: 0 0 0 transparent;
  position: relative;
  opacity: 1;
  background: #e0f3ff;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  border-top-right-radius: 0.25rem;
  display: flex;
  max-width: 50%;
  min-width: 100%;
  text-align: right;
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
}

.comment-box__data {
  text-align: left;
  padding: 0.5rem 0 0;
  margin-left: 1.5rem;
  display: block;
  font-size: 80%;
  font-weight: 400;
  opacity: 0.6 !important;
}

.comment-box__data i {
  margin-right: 0.25rem !important;
}

.comment-box__my-data {
  text-align: right;
  padding: 0.5rem 0 0;
  margin-right: 1.5rem;
  display: block;
  font-size: 80%;
  font-weight: 400;
  opacity: 0.6 !important;
}

.comment-box__my-data i {
  margin-right: 0.25rem !important;
}

.comment-box__my-message {
  padding: 0.75rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.comment-box__footer {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border-top: 1px solid rgba(26, 54, 126, 0.125);
}

.comment-box__input {
  height: calc(1.8125rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  display: block;
  width: 100%;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}

.time-events {
  width: 100%;
}

.time-events__wrapper {
  background: #fff;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-width: 0;
  transition: all 0.2s;
  margin-bottom: 30px !important;
}

.time-events__header {
  display: flex;
  align-items: center;
  color: rgba(13, 27, 62, 0.7);
  font-weight: 500;
  font-size: 22px;
  background-color: #fff;
  border-bottom: 1px solid rgba(26, 54, 126, 0.125);
  padding: 5px 10px;
  height: 3.5rem;
}

.time-events__header i {
  font-size: 28px;
  margin-right: 8px;
}

.project-progress {
  background: #fff;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-width: 0;
  transition: all 0.2s;
  margin-bottom: 30px !important;
  padding: 2rem 2.25rem;
}

.project-progress__title {
  display: flex;
  flex-direction: column;
}

.project-progress__title a {
  color: #181c32 !important;
  word-wrap: break-word;
  font-size: 1.15rem !important;
  font-weight: 600 !important;
}

.project-progress__title span {
  color: #a1a5b7 !important;
  font-weight: 500 !important;
  font-size: 13px !important;
}

.project-progress__bar {
  margin-top: 2.5rem !important;
}

.project-progress__bar-title {
  color: #181c32 !important;
  font-weight: 600 !important;
  padding-bottom: 0.75rem !important;
}

.project-progress__bar-container {
  overflow: hidden;
  white-space: nowrap;
}

.project-progress__load {
  white-space: nowrap;
  width: 75%;
  transition: width 0.6s ease;
  height: 5px;
  background: red;
  border-radius: 5px;
}

.project-progress__team {
  margin-top: 2rem !important;
}

.project-progress__team-title {
  color: #181c32 !important;
  font-weight: 600 !important;
  padding-bottom: 0.75rem !important;
}

.project-progress__man {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.project-progress__man a {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  border-radius: 0.95rem;
}

.project-progress__man img {
  width: 35px;
  height: 35px;
}

.notification {
  position: relative;
  display: flex;
  align-items: center;
}

.notification__dot {
  position: absolute;
  top: 0px;
  left: 37%;
  font-size: 7px;
  background-color: #d92550;
  border: #fff solid 2px;
  border-radius: 50%;
  opacity: 0.8;
  height: 11px;
}

.notification__popup {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0px, -462px);
  background: white;
}

.notification__bell {
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%) !important;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0.8;
  transition: all 0.2s ease;
  padding: 8px;
  cursor: pointer;
  font-size: 29px;
}

.notification__bell:hover {
  opacity: 1;
}

.notification__bell:hover + .notification__bell__dot {
  opacity: 1;
}

.language {
  font-size: 29px;
  padding: 8px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%) !important;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0.8;
}

.language:hover {
  opacity: 1;
}

.pop-mini {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  width: 400px;
  z-index: 123;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  position: absolute;
  background: #fff;
  bottom: 60px;
  display: none;
}

.pop-mini_open {
  display: block;
}

.pop-mini__header {
  background-size: cover;
  padding: 1.5rem 0.5rem;
  text-align: center;
  background: linear-gradient(to top right, #ff99ff 0%, #ffff66 100%);
}

.pop-mini__title {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 0;
}

.pop-mini__subtitle {
  margin: 5px 0 0;
  opacity: 0.8;
  font-size: 1rem;
}

.pop-mini__body {
  position: static;
  height: 240px;
  overflow: scroll;
  overflow-x: scroll;
  overflow-x: hidden;
}

.pop-mini__content {
  padding-left: 20px;
  padding-top: 25px;
}

.pop-mini__footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5rem 1rem;
  z-index: 23;
}

.pop-mini__btn {
  text-align: center;
}

.pop-mini__btn button {
  outline: none !important;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer;
  padding: 0.25rem 1rem;
  font-size: 0.8rem;
  line-height: 1.5;
  color: #fff;
  background-color: #444054;
  border-color: #444054;
}

.not {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.not__dot {
  margin-right: 15px;
  font-size: 25px;
  color: green;
}

.not__body {
  flex-grow: 1;
}

.not__title {
  font-size: 0.8rem;
  text-transform: uppercase;
  margin: 0 0 0.5rem;
  padding: 4px 0 0;
  font-weight: bold;
}

.not__text {
  color: #6c757d;
  margin: 0 0 0.5rem;
  font-size: 0.7rem;
}

.ext-workspace {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ext-workspace__input {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  flex-grow: 1;
}

.ext-workspace__footer {
  height: 60px;
  border-top: rgba(0, 0, 0, 0.02) solid 1px;
  background: #fafbfc;
  z-index: 7;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.left-block {
  min-width: 500px;
  padding: 15px;
  overflow-y: auto;
  flex-grow: 1;
}

.notice {
  padding: 25px 30px;
  height: calc(100% - 30px);
  background: #fff;
  border-radius: 2rem;
  margin-right: 25px;
  box-shadow: 0 2rem 2rem rgba(132, 139, 200, 0.18);
  width: 100%;
}

.notice:hover {
  box-shadow: none;
}

.notice__title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 30px;
}

.notice__content {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 30px;
}

.notice__content:last-child {
  margin: 0;
}

.notice__content i {
  width: 50px;
  font-size: 30px;
}

.notice__content a {
  color: #0000ee;
}

.notice_icon-load-grn {
  color: green;
}

.notice_icon-load-red {
  color: red;
}

.notice_icon-load-msg {
  color: blue;
}

.notice__section-code {
  font-size: 15px;
  font-weight: 400;
}

.notice__theme {
  font-size: 18px;
  font-weight: 500;
  margin: 3px 0;
}

.notice__msg {
  font-size: 15px;
  font-weight: 400;
}

.notice__btns {
  margin: 5px 0;
  color: #111;
}

.notice__date {
  margin-top: 5px;
  font-size: 11px;
}

.block-title {
  margin-bottom: 0.8rem;
}

.popup {
  position: fixed;
  width: calc(100% - 78px);
  left: 78px;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  transition: all 0.5s ease 0s;
  opacity: 0;
  visibility: hidden;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.popup_open {
  opacity: 1;
  visibility: visible;
  display: block;
}

.popup_open__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  position: relative;
}

.popup__content {
  background: #fff;
  border-radius: 2rem;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  transition: all 300ms ease;
  color: #111;
  max-width: 800px;
  padding: 1.8rem;
  position: relative;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #000;
}

.popup__title {
  font-size: 40px;
  margin: 0 0 1em 0;
}

.sidebar_active ~ .popup {
  width: calc(100% - 240px);
  left: 240px;
}

.new-form {
  display: block;
  z-index: 10;
  position: absolute;
  right: 10%;
  padding: 1.8rem;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  border-radius: 2rem;
  background: #fff;
  display: none;
  transition: all 1s ease;
  opacity: 0;
}

.new-form_open {
  display: block;
  opacity: 1;
}

.new-form__title {
  font-size: 30px;
  margin: 0 0 1em 0;
}

.form-close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #000;
}

#secRefAdd {
  cursor: pointer;
}

.form__field {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  position: relative;
}

.form__field label {
  width: 200px;
  color: #677483;
  margin-right: 10px;
  font-size: 14px;
}

.form__field p {
  font-size: 14px;
  color: #677483;
}

.form__field :last-child {
  margin-bottom: 0;
}

.form__input {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.form__input:focus {
  border: 1px solid #1d1b31;
}

.form__select {
  position: relative;
  width: 100%;
  height: 37px;
}

.form__select select {
  appearance: none;
  background: #fff;
  border: 1px solid #d5dbd9;
  width: 100%;
  height: 100%;
  padding: 8px 10px;
  border-radius: 3px;
  outline: none;
}

.form__select select:focus {
  border: 1px solid #1d1b31;
}

.form__select::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.form__textarea {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
  resize: none;
  height: 125px;
}

.form__textarea:focus {
  border: 1px solid #1d1b31;
}

.form__checkbox {
  width: 15px !important;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}

.form__checkbox input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.form__checkbox input[type="checkbox"]:checked ~ .form__checkmark {
  background: #1d1b31;
}

.form__checkbox input[type="checkbox"]:checked ~ .form__checkmark::before {
  display: block;
}

.form__checkmark {
  width: 15px;
  height: 15px;
  border: 1px solid #1d1b31;
  display: block;
  position: relative;
}

.form__checkmark::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 5px;
  height: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;
}

.form__submit-btn {
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  border: 0;
  background: #1d1b31;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.form__submit-btn:hover {
  background: #2d2b49;
}

.container {
  width: 100%;
  background-color: #fff;
  margin-bottom: 15px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-width: 0;
  transition: all 0.2s;
}

.head-bar {
  display: flex;
  align-items: center;
  color: rgba(13, 27, 62, 0.7);
  font-weight: 400;
  font-size: 22px;
  border-bottom: 1px solid rgba(26, 54, 126, 0.125);
  padding: 5px 10px;
  height: 3.5rem;
}

.head-bar i {
  font-size: 28px;
  margin-right: 8px;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%) !important;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.head-bar_project i {
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%) !important;
}

.head-bar_top-border {
  border-top: 1px solid rgba(26, 54, 126, 0.125);
}

.head-bar_actions i {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%) !important;
}

.head-bar_file i {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%) !important;
}

.head-bar_table i {
  color: #6c757d !important;
  opacity: 0.6 !important;
}

.head-bar_task-list i {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%) !important;
}

.bottom-bar {
  text-align: right;
  padding: 0.75rem 10px;
  background-color: #fff;
  border-top: 1px solid rgba(26, 54, 126, 0.125);
}

.bottom-bar_txt-alg-off {
  text-align: left;
}

.gear-btn {
  color: #fff;
  background-color: #3f6ad8;
  border-color: #3f6ad8;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 500;
  outline: none !important;
  display: inline-flex;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
}

.download-btn {
  color: #fff;
  background-color: #3f6ad8;
  border-color: #3f6ad8;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 500;
  outline: none !important;
  display: inline-flex;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
}

.download-btn_mrg-left {
  margin-left: auto;
}

.user {
  padding: 10px;
}

.user__content {
  display: flex;
  flex-direction: column;
}

.user__body {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  margin-bottom: 10px;
}

.user__body i {
  width: 20px;
  font-size: 20px;
  margin-right: 5px;
  margin-top: 2px;
}

.user__avatar {
  margin-right: 10px;
}

.user__name {
  font-size: 25px;
  font-weight: 500;
}

.user__job {
  font-size: 20px;
  font-weight: 300;
  display: flex;
  align-items: center;
}

.user__post {
  font-size: 16px;
  font-weight: 300;
  display: flex;
  align-items: center;
}

.user__role {
  font-size: 16px;
  font-weight: 300;
  display: flex;
  align-items: center;
}

.user__sub-info i {
  margin-right: 5px;
}

.user__phone {
  font-size: 16px;
  font-weight: 300;
  display: flex;
  align-items: center;
}

.user__mail {
  font-size: 16px;
  font-weight: 300;
  display: flex;
  align-items: center;
}

.project {
  padding: 10px;
}

.project__title {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.project__sub-title {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.project__info-data {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.project__message {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.project_select {
  padding: 1.8rem !important;
}

.document-file {
  padding: 10px;
}

.document-file__name {
  font-size: 16px;
}

.document-file__md {
  font-size: 10px;
}

.document-file__ver {
  font-size: 14px;
}

.document-file__chnge-ver {
  font-size: 14px;
}

.actions {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.action-btn {
  cursor: pointer;
  position: relative;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
  color: #3f6ad8;
  border-color: #3f6ad8;
  vertical-align: bottom;
  border-style: dashed;
  font-size: 1.2rem;
  font-weight: 500;
  outline: none !important;
  margin-bottom: 15px !important;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  user-select: none;
  background-color: transparent !important;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.action-btn i {
  margin-right: 5px;
}

.action-btn:hover {
  box-shadow: 0px 5px 15px 2px rgba(63, 106, 216, 0.19);
  color: #fff;
  background-color: #3f6ad8 !important;
  border-color: #3f6ad8 !important;
}

.action-btn_last {
  margin-bottom: 0 !important;
}

.form-table__search {
  padding: 5px 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background-color: #fff;
}

.form-table__search span {
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
}

.form-table__search input {
  display: inline-block;
  width: auto;
  transition: all 0.2s;
  margin-left: 0.5rem !important;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.form-table__table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
}

.form-table__table thead th:first-child {
  text-align: center;
}

.form-table__table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #e9ecef;
  text-align: left;
  background: #fff;
}

.form-table__table th {
  padding: 0.55rem;
  border-top: 1px solid #e9ecef;
}

.form-table__table td {
  padding: 0.55rem;
  vertical-align: top;
  border-top: 1px solid #e9ecef;
}

.form-table__table_odd {
  background: #eee;
}

.form-table__table_even {
  background: #fff;
}

.form-table__table_center {
  text-align: center;
}

.form-table__table_hide {
  display: none;
}

.table-select select {
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  display: inline-block;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.notification-bell {
  display: inline-block;
  position: relative;
  padding: 0.8em;
}

.notification-bell i {
  color: #2d2b49;
  display: block;
  font-size: 29px;
  transform-origin: top center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.notification-bell__count {
  color: #fff;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  font-size: 11px;
  font-weight: 500;
  position: absolute;
  top: 0px;
  right: 6px;
  padding: 3px 6px;
  line-height: 100%;
  border: 2px solid #fff;
  border-radius: 60px;
  background-color: #2d2b49;
  text-align: center;
  transform: scale(0);
  transition: all 0.3s ease-out;
}

.notification-bell__count_have {
  transform: scale(1);
}
