* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  background-color: #3f7abe;
  color: #fff;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav .bxl-tux {
  margin-left: 5px;
  font-size: 40px;
  text-align: center;
  width: 50px;
  height: 40px;
}

.header__left-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left-section p {
  margin-right: 15px;
}

.header__right-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right-section i {
  width: 25px;
  margin-right: 10px;
  font-size: 25px;
}

.header__user-profile {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__user-profile-link {
  text-decoration: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.header__user-profile i {
  margin: 0 !important;
}

.workspace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sidebar-nav {
  height: 100%;
  width: 60px;
  background: #f8f8f8;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.sidebar-nav_close {
  display: none;
}

.sidebar-nav__list {
  background: #f8f8f8;
  height: 100%;
}

.sidebar-nav__list li {
  list-style: none;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.sidebar-nav__list li:hover {
  background: #3f7abe;
  color: #fff;
}

.sidebar-nav__list li i:hover {
  color: #fff;
}

.sidebar-nav__list li i {
  height: 50px;
  min-width: 60px;
  text-align: center;
  line-height: 50px;
  color: #111;
  font-size: 20px;
}

.sidebar-nav__list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.sub-menu {
  left: 0;
  height: 100%;
  width: 200px;
  background: #f8f8f8;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  display: none;
}

.sub-menu_open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sub-menu__other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.sub-menu-top {
  padding: 0 5px 0 5px;
}

.sub-menu-top__list-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: #979797;
  margin: 5px 0 5px 0;
}

.sub-menu-top__list-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 15px;
}

.sub-menu-top__sub-list {
  display: none;
  text-decoration: none;
  list-style-type: none;
}

.sub-menu-top__sub-list_open {
  display: block;
  padding: 5px 0 5px 25px;
  font-size: 13px;
}

.sub-menu-top__sub-list_open li {
  padding: 2px 0 2px 0;
}

.desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.desktop__title {
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.desktop__title-obj-name {
  text-align: center;
  margin-left: 15px;
}

.desktop__title-obj-date {
  margin-left: 15px;
}

.desktop__title-obj-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

.desktop__ivents {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  height: 100%;
  text-align: center;
  margin-top: 60px;
  padding-top: 15px;
}

.desktop__ivents-content {
  padding: 0 30px;
}

.desktop__ivents-top-row {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.desktop__ivents-date {
  color: #979797;
}

.desktop__ivents-pagination {
  color: #979797;
}

.desktop__ivents-body {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.desktop__ivents-message {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: start;
  padding-left: 30px;
}

.desktop__ivents-message-title {
  font-weight: bold;
  margin-bottom: 3px;
}

.desktop__ivents-info {
  text-align: end;
}

.desktop__ivents-info-date {
  margin-bottom: 3px;
}

.desktop__ivents-info-status {
  color: #3498c7;
}

.desktop__workspace {
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  overflow: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.desktop__workspace-table {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.desktop__actions {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.desktop__action {
  max-width: 60px;
  margin-right: 25px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #111;
}

.desktop__action a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #111;
}

.notice {
  height: 100%;
  width: 400px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.notice a {
  color: #3498c7;
}

.notice__content {
  padding: 7px 0 0 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.notice__title {
  color: #979797;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.notice_hide {
  width: 60px;
}

.notice__messages {
  margin-top: 15px;
}

.notice__message {
  margin-bottom: 15px;
}

.notice__message_blue {
  color: #3498c7;
}

.notice__message_red {
  color: #e95f29;
}

.notice__message_green {
  color: #19d119;
}

.notice__message-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 5px;
}

.notice__message-title i {
  font-size: 9px;
  margin: 0 5px 0 0;
}

.notice__message-body {
  padding-left: 15px;
  margin-bottom: 3px;
}

.notice__message-btns {
  margin-top: 5px;
}

.notice__buttom-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 7px 15px 7px 15px;
}

.download-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 50px;
  background: #3f7abe;
  border: none;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
}

.download-button:hover {
  background: #1a4975;
}

.download-button:active {
  background: #1e5e99;
}

.download-button__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
  height: 100%;
}

.download-button__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
  height: 100%;
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.08);
}

.space-beetween {
  margin: 30px 0;
}

.workspace-comments__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workspace-comments__total {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workspace-comments__func {
  margin-left: 15px;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workspace-comments__func i {
  margin-right: 5px;
  width: 25px;
  font-size: 25px;
}

.workspace-comments__content {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  height: 100%;
}

.workspace-comments__content_hide {
  display: none;
  visibility: none;
}

.workspace-comments__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 15px;
}

.workspace-comments__avatar {
  margin-right: 10px;
  border-radius: 50%;
  min-width: 60px;
  min-height: 60px;
  overflow: hidden;
}

.workspace-comments__avatar img {
  max-width: 100%;
  display: block;
}

.workspace-comments__text-header {
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}

.workspace-comments__text-body {
  max-width: 700px;
  font-size: 14px;
  line-height: 2;
  font-weight: 400;
  color: #a5a5a5;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #3f7abe;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #3f7abe;
}

.content-table tbody tr:hover {
  font-weight: bold;
  color: #3f7abe;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

.row__left-column {
  margin-right: 20px;
}
