* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.sidebar {
  z-index: 555;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: #11101d;
  padding: 6px 14px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar_active {
  width: 240px;
}

.sidebar_active .sidebar__logo {
  opacity: 1;
  pointer-events: none;
}

.sidebar_active #menu-btn {
  left: 90%;
}

.sidebar__logo {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar__logo i {
  font-size: 28px;
  margin-right: 5px;
}

.sidebar__logo-name {
  font-size: 20px;
  font-weight: 400;
}

.sidebar__list {
  margin-top: 20px;
}

.sidebar__list li {
  position: relative;
  height: 50px;
  width: 100%;
  list-style: none;
  margin: 0 5px;
  line-height: 50px;
}

.sidebar__list li a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
}

.sidebar__list li a:hover {
  background: #fff;
  color: #11101d;
}

.sidebar__list li i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.sidebar__list li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding-left: 50px;
  font-size: 18px;
  color: #fff;
}

.sidebar__list li .bx-search {
  position: absolute;
  z-index: 111;
  color: #fff;
  font-size: 22px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar__list li .bx-search:hover {
  background: #fff;
  color: #1d1b31;
}

.sidebar__link-name {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar_active .sidebar__link-name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar__tooltip {
  position: absolute;
  height: 35px;
  left: 122px;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 6px;
  width: 122px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0s;
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}

.sidebar__list li:hover .sidebar__tooltip {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 50%;
  opacity: 1;
}

.sidebar_active .sidebar__list li .sidebar__tooltip {
  display: none;
}

.sidebar__profile-content {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}

.sidebar__profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar_active .sidebar__profile {
  background: #1d1b31;
}

.sidebar__profile-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.sidebar__profile-details img {
  height: 45px;
  width: 45px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

.sidebar_active .sidebar__profile-details {
  opacity: 1;
  pointer-events: auto;
}

.sidebar__profile-data {
  margin-left: 10px;
}

.sidebar__profile-job {
  font-size: 11px;
}

.sidebar__profile-name {
  font-size: 15px;
  font-weight: 400;
}

.sidebar__profile-company {
  font-size: 12px;
}

.workspace {
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.workspace__container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}

.workspace__left {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 25px;
  width: 550px;
}

.project {
  padding: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.project__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__name {
  text-align: center;
  margin-right: 10px;
}

.project__data {
  margin-right: 10px;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.user-settings {
  margin-bottom: 15px;
}

.user-projects {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.user-projects h1 {
  margin: 15px 0;
}

.user-projects__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.user-projects__sign {
  white-space: nowrap;
  margin-right: 10px;
}

.sidebar_active ~ .workspace {
  width: calc(100% - 240px);
  left: 240px;
}

#menu-btn {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#log-out {
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #1d1b31;
}

.sidebar_active #log-out {
  left: 88%;
  background: none;
}
