{% load static %}
{% load lk_tags %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            {{ title }}
        {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static 'img/app_icon_542px.ico' %}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <!--  -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}

    {% endblock %}
</head>

<body>
    <nav class="sidebar" id="sidebar">
        <div class="sidebar__logo-content">
            <div class="sidebar__logo">
                <i class='bx bxl-vimeo'></i>
                <div class="sidebar__logo-name">Versionize</div>
            </div>
            <i class='bx bx-menu' id="menu-btn"></i>
        </div>
        <ul class="sidebar__list">
{#            <li>#}
{#                <i class='bx bx-search' id="searchBtn"></i>#}
{#                <input type="text" placeholder="Поиск...">#}
{#                <span class="sidebar__tooltip">Поиск</span>#}
{#            </li>#}
            <li>
                <a href="{% url 'main:companies' %}">
                    <i class='bx bx-grid-alt'></i>
                    <span class="sidebar__link-name">Компании</span>
                </a>
                <span class="sidebar__tooltip">Компании</span>
            </li>
            <li>
                <a href="{% url 'main:index' user.id%}">
                    <i class='bx bx-user'></i>
                    <span class="sidebar__link-name">Пользователь</span>
                </a>
                <span class="sidebar__tooltip">Пользователь</span>
            </li>
{#            <li>#}
{#                <a href="{% url 'main:section' 1 %}">#}
{#                    <i class='bx bx-chat'></i>#}
{#                    <span class="sidebar__link-name">Раздел</span>#}
{#                </a>#}
{#                <span class="sidebar__tooltip">Раздел</span>#}
{#            </li>#}
            <li>
                <a href="{% url 'main:total' %}">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="sidebar__link-name">Сводная</span>
                </a>
                <span class="sidebar__tooltip">Сводная</span>
            </li>
            
            <li>
                <a href="{% url 'main:projects' %}">
                    <i class='bx bx-archive'></i>
                    <span class="sidebar__link-name">Проекты</span>
                </a>
                <span class="sidebar__tooltip">Проекты</span>
            </li>
{#            <li>#}
{#                <a href="{% url 'main:document' 1 %}">#}
{#                    <i class='bx bx-folder'></i>#}
{#                    <span class="sidebar__link-name">Документы</span>#}
{#                </a>#}
{#                <span class="sidebar__tooltip">Документы</span>#}
{#            </li>#}

            <!-- Доступ в админку -->
            {% if user.is_staff or user.is_superuser or user.usercompanyinfo.chief_project_engineer%}
            <li>
                <a href="{% url 'admins:index' %}">
                    <i class='bx bx-cog'></i>
                    <span class="sidebar__link-name">Настройки</span>
                </a>
                <span class="sidebar__tooltip">Настройки</span>
            </li>
            {% endif %}
        </ul>
        <div class="sidebar__profile-content">
            <div class="sidebar__profile">
                <div class="sidebar__profile-details">
                    <img src="{% static 'img/comments_img.webp' %}" alt="">
                    <div class="sidebar__profile-data">
                        <div class="sidebar__profile-name">{{ user.last_name}} {{user.first_name}}</div>
                        <div class="sidebar__profile-company">{{ user.usercompanyinfo.company }}</div>
                        <div class="sidebar__profile-job">{{ user.usercompanyinfo.position }}</div>
                    </div>
                </div>
                <a href="{% url 'user:logout' %}"><i class='bx bx-log-out' id="log-out"></i></a>
            </div>
        </div>
    </nav>
    <main class="workspace">
        <div class="ext-workspace">
            <div class="ext-workspace__input">
                <div class="left-block">
                    {% block leftblock %}
                    {% endblock %}
                </div>
                <div class="main">
                    {% block main %}
                    {% endblock %}
                </div>
            </div>
            <div class="ext-workspace__footer">
                {% notifications user.id as notification %}
                <div class="notification-bell">
                    <i class='bx bxs-bell'></i>
                    {% if notification.count > 0 %}
                        <div class="notification-bell__count notification-bell__count_have">{{ notification.count }}</div>
                    {% else %}
                    <div class="notification-bell__count"></div>
                    {% endif %}
                </div>
                
                <div class="popup-container" id="notification-pop-up">
                    <div class="head-bar head-bar_task-list">
                        <i class='bx bxs-bell'></i>
                        Уведомления
                        <button class="sqr-btn sqr-btn_close" id="notification-pop-up-close">
                            <i class='bx bx-plus-medical'></i>
                        </button>
                        
                    </div>
                    <div class="notice">
                        {% for notice in notification %}
                        {% if notice.notification_type == 1 %}
                        <div class="notice__item">
                            <div class="notice__icon notice__icon_ok"><i class='bx bxs-check-circle' ></i></div>
                            <div class="notice__text">ГИП {{ notice.from_user.last_name }} {{ notice.from_user.first_name }} {{ notice.from_user.patronymic }} создал новый проект</div>
                            <div class="notice__date">{{ notice.created_at|date:"M d" }}<i class='bx bx-time-five'></i></div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <div class="notice__item">
                            <div class="notice__icon notice__icon_err"><i class='bx bxs-error-circle' ></i></div>
                            <div class="notice__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quod ad porro quos totam ratione voluptates rerum nisi blanditiis quae, inventore hic, ipsum architecto perferendis illum expedita exercitationem beatae! Itaque.</div>
                            <div class="notice__date">Lorem, ipsum dolor.<i class='bx bx-time-five'></i></div>
                        </div>
                        <div class="notice__item">
                            <div class="notice__icon notice__icon_wrn"><i class='bx bxs-error' ></i></div>
                            <div class="notice__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi repellendus, quo quas ab impedit repudiandae vel, dignissimos eius earum doloribus inventore nam maxime ea quaerat sunt assumenda nulla porro iure nobis voluptatibus animi iusto. Illum nihil labore tempora, optio, voluptates mollitia expedita incidunt at temporibus, ea consectetur reprehenderit ut sit.</div>
                            <div class="notice__date"><i class='bx bx-time-five'></i></div>
                        </div>
                        <div class="notice__item">
                            <div class="notice__icon notice__icon_ok"><i class='bx bxs-check-circle' ></i></div>
                            <div class="notice__text">This is an success notification</div>
                            <div class="notice__date"><i class='bx bx-time-five'></i></div>
                        </div>
                    </div>
                </div>
                
                <div class="language">
                    <span><i class='bx bx-world'></i>
                    </span>
                </div>
                <div class="theme">Dark/Light mode</div>
            </div>
        </div>
    </main>
    <!-- ============== POP UP ============== -->
    <!-- Формы вызова уневерсальная, чтобы ее вызвать в классе элемента должен быть класс popupBtn -->
    {% block popup %}
    {% endblock %}
</body>
<!-- defer - ждем загрузки страницы -->
<!-- Todo перейти на jquery, чтобы запускать скрипты после загрузки контента -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script defer src="{% static 'js/ajax.js' %}"></script>
<script defer src="{% static 'js/style.js' %}"></script>
<script defer src="{% static 'js/bugs-killer.js' %}"></script>
<script defer src="{% static 'js/todoList.js' %}"></script>

</html>