{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <!--  -->
    <link rel="stylesheet" href="{% static 'css/base2.css' %}">
</head>

<body>
    <nav class="sidebar" id="sidebar">
        <div class="sidebar__logo-content">
            <div class="sidebar__logo">
                <i class='bx bxl-vimeo'></i>
                <div class="sidebar__logo-name">Versionize</div>
            </div>
            <i class='bx bx-menu' id="menu-btn"></i>
        </div>
        <ul class="sidebar__list">
            <li>
                <i class='bx bx-search' id="searchBtn"></i>
                <input type="text" placeholder="Поиск...">
                <span class="sidebar__tooltip">Поиск</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-grid-alt'></i>
                    <span class="sidebar__link-name">Компания</span>
                </a>
                <span class="sidebar__tooltip">Компания</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-user'></i>
                    <span class="sidebar__link-name">Пользователь</span>
                </a>
                <span class="sidebar__tooltip">Пользователь</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-chat'></i>
                    <span class="sidebar__link-name">Раздел</span>
                </a>
                <span class="sidebar__tooltip">Раздел</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="sidebar__link-name">Сводная</span>
                </a>
                <span class="sidebar__tooltip">Сводная</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-folder'></i>
                    <span class="sidebar__link-name">Документы</span>
                </a>
                <span class="sidebar__tooltip">Докумены</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog'></i>
                    <span class="sidebar__link-name">Настройки</span>
                </a>
                <span class="sidebar__tooltip">Настройки</span>
            </li>
        </ul>
        <div class="sidebar__profile-content">
            <div class="sidebar__profile">
                <div class="sidebar__profile-details">
                    <img src="{% static 'img/comments_img.webp' %}" alt="">
                    <div class="sidebar__profile-data">
                        <div class="sidebar__profile-name">Pankov Ilya</div>
                        <div class="sidebar__profile-company">Versionize team</div>
                        <div class="sidebar__profile-job">Python Dev</div>
                    </div>
                </div>
                <a href="{% url 'main:index' %}"><i class='bx bx-log-out' id="log-out"></i></a>
            </div>
        </div>
    </nav>
    <main class="workspace">
        <!-- {% block workspace %}{% endblock %} -->
        <!-- Todo перенести в lk2 -->
        <div class="user-workspace">
            <div class="user-block">
                <div class="user-profile">
                    <div class="user-profile__info">
                        <div class="user-profile__avatar">
                            <img class="" width="150px"
                                src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                        </div>
                        <div class="user-profile__text">
                            <span class="user-profile__name">Панков Илья Владимирович</span>
                            <span class="user-profile__job"><i class='bx bxs-business'></i>Versionize team</span>
                            <span class="user-profile__post"><i class='bx bx-id-card'></i>Web Design</span>
                        </div>
                    </div>
                    <div class="user-profile__actions">
                        <a href="#" class="user-profile__link"><i class='bx bx-mail-send'></i>Отправить на почту</a>
                        <a href="#" class="user-profile__link"><i class='bx bx-chat'></i></a>
                        <a href="#" class="user-profile__link" id="more-actions">
                            <i class='bx bx-dots-horizontal-rounded'></i></a>
                    </div>
                </div>
                <div class="user-data">
                    <ul class="user-contact">
                        <li class="user-contact__item">
                            <div class="user-contact__title-row">
                                <span class='user-contact__title'>Активный проект</span>
                                <i class='bx bx-chevron-right'></i>
                            </div>
                            <ul class="sub-menu-project">
                                <li>
                                    <div class="sub-menu-project__content">
                                        <div class="sub-menu-project__title">2021 / 18-06/2021(объект) / 18-06/2021-ИГИ
                                        </div>
                                        <div class="sub-menu-project__data-block">
                                            <div class="sub-menu-project__data">
                                                <span>Загрузить до:</span>
                                                <p>15/01/2022</p>
                                            </div>
                                            <div class="sub-menu-project__data">
                                                <span>Был загружен:</span>
                                                <p>15/01/2022</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="user-contact">
                        <li class="user-contact__item">
                            <div class="user-contact__title-row">
                                <span class='user-contact__title'>Контакты</span>
                                <i class='bx bx-chevron-right'></i>
                            </div>
                            <ul class="user-contact__sub-menu">
                                <li><i class='bx bx-phone'></i>Телефон: 8-916-777-77-77</li>
                                <li><i class='bx bx-printer'></i>Факс: 8-916-777-77-77</li>
                                <li><i class='bx bxl-gmail'></i>Почта: Versionize@yandex.ru</li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="user-contact">
                        <li class="user-contact__item">
                            <div class="user-contact__title-row">
                                <span class='user-contact__title'>Проекты</span>
                                <i class='bx bx-chevron-right'></i>
                            </div>
                            <ul class="user-contact__sub-menu">
                                <li>
                                    <div class="user-projects">
                                        <div class="user-projects__section-code">18-06/2021</div>
                                        <div class="user-projects__project-name">Реконструкция производстенного здания
                                            на территории фабрики</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="user-projects">
                                        <div class="user-projects__section-code">55-12/2021</div>
                                        <div class="user-projects__project-name">Строительство 18-ти этажного здания на
                                            участке с кадастровым номером 23:2342:10000023:14</div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="user-events"></div>
        </div>
        </div>
    </main>
</body>
<script>
    let openBtn = document.getElementById('menu-btn')
    let sidebar = document.getElementById('sidebar')
    let searchBtn = document.getElementById('searchBtn')

    openBtn.onclick = function () {
        sidebar.classList.toggle('sidebar_active')
    }
    searchBtn.onclick = function () {
        sidebar.classList.toggle('sidebar_active')
    }


</script>

</html>