{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    Versionize
{% endblock %}


{% block workspace %}
    <table class="content-table">
            <thead>
                <tr>
                    <th>Md5</th>
                    <th>Шифр раздела</th>
                    <th>Загружен</th>
                    <th>Скачать</th>
                    <th>Статус</th>
                    <th>Версия</th>
                    <th>№ посл. изм.</th>
                    <th>Ответсвенный</th>
                    <th>Эл. почта</th>
                    <th>Телефон</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td title='d41d8cd98f00b204e9800998ecf8427e'><i class="fas fa-fingerprint"></i></td>
                    <td><a href="#"><span class='_code-green'>10-03/2020-ИГИ</span></a></td>
                    <td><i class="far fa-check-circle"></i></td>
                    <td><a href="#"><i class="far fa-save"></i></a></td>
                    <td>Положительное</td>
                    <td>2</td>
                    <td>1.1</td>
                    <td>Васильев Александр Ивановичи</td>
                    <td>VasilievAI@mail.ru</td>
                    <td><a href="#">8-918-789-456-12</a></td>
                </tr>
                <tr>
                    <td title='1cfe70df284a018d4ba63e20c72e0fd5'><i class="fas fa-fingerprint"></i></td>
                    <td><a href="#"><span class='_code-yellow'>10-03/2020-СМР</span></a></td>
                    <td><i class="far fa-circle"></i></td>
                    <td><a href="#"><i class="far fa-save"></i></a></td>
                    <td>Повторные замеры</td>
                    <td>3</td>
                    <td>4</td>
                    <td>Алексеев Василий Иванович</td>
                    <td>AlekseevVI@mail.ru</td>
                    <td><a href="#">8-918-789-456-12</a></td>
                </tr>
                <tr>
                    <td title="879a4ea6e804543155e062a09b525796"><i class="fas fa-fingerprint"></i></td>
                    <td><a href="#"><span class='_code-red'> 10-03/2020-КР</span></a></td>
                    <td><i class="far fa-circle"></i></td>
                    <td><a href="#"><i class="far fa-save"></i></a></td>
                    <td>Просрочено</td>
                    <td>3</td>
                    <td>4</td>
                    <td>Иванов Петр Константинович</td>
                    <td>IvanovPK@mail.ru</td>
                    <td><a href="#">8-918-159-761-75</a></td>
                </tr>
            </tbody>
        </table>
        <a href="#" class="upload-btn"><i class="fas fa-file-upload"></i> Загрузить новый документ</a>
{% endblock %}