{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Versionize
{% endblock %}

{% block workspace-title %}
<div class="desktop__title-obj-name">
    <h1>Название объекта</h1>
    <span>18-06/2021(объект)</span>
</div>
<div class="desktop__title-obj-date">
    <p>Загрузить до: <span>25.12.21</span></p>
</div>
<div class="desktop__title-obj-date">
    <p>Дата загрузки: <span>24.12.21</span></p>
</div>
<div class="desktop__title-obj-info">
    <h1>ООО "НТЦ "ИнжПроект"</h1>
</div>
{% endblock %}
{% block workspace %}
<div class="row">
    <div class="row__left-column">
        <table class="content-table">
            <thead>
                <tr>
                    <th>Лист</th>
                    <th>Содержание изменения</th>
                    <th>Код</th>
                    <th>Примечание</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2</td>
                    <td>Таблица объемов работ откорректирована</td>
                    <td>1</td>
                    <td></td>
                </tr>
                <tr>

                    <td>3-4,42,43</td>
                    <td>Добавлены результаты архивных инжерено-геологических
                        изысканий</td>
                    <td>1</td>
                    <td></td>
                </tr>
                <tr>

                    <td>4</td>
                    <td>Добавлена информация об использовании результатов
                        определенний свойств грунтов,
                        отобранных в основани здания в 2013г</td>
                    <td>1</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <a href="#" class="upload-btn"><i class="fas fa-file-upload"></i>
            Загрузить новый документ</a>
    </div>
    <div class="row__right-column">
        <table class="content-table">
            <thead>
                <tr>
                    <th>Тут должны быть комменты(</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
{% endblock %}