{% extends 'main/base.html' %}
{% load static %}
{% load lk_tags %}

{% block title %}
    {{ title }} / {{ document.name }}
{% endblock %}
{% block workspace %}
<div class="ext-workspace">
    <div class="ext-workspace__input">
        <div class="left-block">

            <!-- * @TheSleepyNomad -->
            <!-- ? Активный проект -->
            <div class="container">
                <div class="head-bar head-bar_project"><i class='bx bx-task'></i>Активный проект</div>
                <div class="project">
                    <div class="project__title">{{ active_project_code }}</div>
                    <div class="project__sub-title">{{ active_project_name }}</div>
                    <div class="project__info-data">
                        <div class="project__data">
                            <span>Следующая загрузка:</span>
                            <p>{{ active_project_next_upload|date:'d.m.Y' }}</p>
                        </div>
                        <div class="project__data">
                            <span>Срок экспертизы до:</span>
                            <p>{{ active_project_exp_date|date:'d.m.Y' }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- * @TheSleepyNomad -->
            <!-- ? Ответственный -->
            <div class="container">
                <div class="head-bar"><i class='bx bxs-user-detail'></i>Ответственный:</div>
                <div class="user">
                    <div class="user__content">
                        <div class="user__body">
                            <div class="user__info">
                                <div class="user__name">{{ user.last_name }} {{ user.first_name }}
                                    {{ user.patronymic}}</div>
                                <div class="user__job">
                                    <i class='bx bxs-business'></i>
                                    {{ user.get_usercompany_info.company }}
                                </div>
                                <div class="user__post">
                                    <i class='bx bx-id-card'></i>
                                    {{ user.get_position }}
                                </div>
                                <div class="user__role">
                                    <i class='bx bx-male'></i>
                                    {{ user.get_project_role }}
                                </div>
                                <div class="user__phone" id="change-email">
                                    <i class='bx bx-mobile-alt'></i>
                                    {{ user.phone }}
                                </div>
                                <div class="user__mail" id="change-email">
                                    <i class='bx bx-mail-send'></i>
                                    {{ user.email }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="card__wrapper">
                    <div class="card__header-file"><i class='bx bxs-file-archive'></i>Файл:</div>
                    <div class="card__body">
                        <!-- Todo Переписать на другие стили. Эти удалить -->
                        <div class="project__file">
                            <div class="project__file-conten">
                                <div class="project__file-body">
                                    <div class="project__file-name">{{ document.name }}</div>
                                    <div class="project__file-md">MD5: {{ document.md5 }}</div>
                                    <div class="project__file-ver">Вер.: {{ document.version }}</div>
                                    <div class="project__file-chnge-ver">Изм.: {{ document.variation }}</div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card__footer">
                        <a href="{% url 'main:document_download' object.id %}">
                            <button class="card__footer-btns" id="change-password">Скачать</button>
                        </a>
                    </div>
                </div>
            </div>

            <!-- * @TheSleepyNomad -->
            <!-- ? Файл -->
            <div class="container">
                <div class="head-bar head-bar_file"><i class='bx bxs-file-archive'></i>Файл:</div>
                <div class="document-file">
                    <div class="document-file__name">{{ document.name }}</div>
                    <div class="document-file__md">MD5: {{ document.md5 }}</div>
                    <div class="document-file__ver">Вер.: {{ document.version }}</div>
                    <div class="document-file__chnge-ver">Изм.: {{ document.variation }}</div>
                </div>
                <div class="bottom-bar">
                    <a href="{% url 'main:document_download' object.id %}">
                        <button class="download-btn" id="change-password">Скачать</button>
                    </a>
                </div>
            </div>

            <!-- * @TheSleepyNomad -->
            <!-- ? Кнопки действий -->
            <div class="container">
                <div class="head-bar head-bar_actions"><i class='bx bx-code-block'></i>Действия</div>
                <div class="actions">
                    <button class='action-btn' id="get-info-card">
                        <i class='bx bx-bookmark-plus'></i>
                        Сформировать ИУЛ
                    </button>
                    {% if document.get_linked_adjustments %}
                    <button class='action-btn action-btn_last' id="get-permission-card">
                        <i class='bx bx-bookmark-plus'></i>
                        Сформировать разрешение на внесение изменений
                    </button>
                    {% endif %}
                </div>
            </div>

        </div>
        <div class="main">
            {% if object %}
            <div class="relative-table">
                <div class="relative-table__title">
                    <div class="relative-table__left-block"><i class='bx bx-detail'></i>Перечень корректировок</div>
                </div>
                <form action="#" class="form-table">
                    <div class="form-table__search">
                        <span>Поиск:</span>
                        <input type="text" name="" id="tableSearch">
                    </div>
                    <table class="form-table__table">
                        <thead>
                            <th>Лист</th>
                            <th>Содержание изменения</th>
                            <th>Код</th>
                            <th>Примечание</th>
                        </thead>
                        <tbody id="table">
                            {% for adjustment in document.get_linked_adjustments %}
                            <tr>
                                <td class='form-table__table_center'>{{ adjustment.pages }}</td>
                                <td>{{ adjustment.body }}</td>
                                <td>{{ adjustment.code }}</td>
                                <td>{{ adjustment.note }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
                <div class="relative-table__footer">
                    <!-- Todo восстановить, когда будет готов функционал -->
                    <!-- <ul class="relative-table__paginator">
                        <li>
                            <a href="#"><span>«</span></a>
                        </li>
                        <li><a href=""><span>1</span></a></li>
                        <li><a href=""><span>2</span></a></li>
                        <li><a href=""><span>3</span></a></li>
                        <li><a href=""><span>4</span></a></li>
                        <li><a href=""><span>»</span></a></li>
                    </ul> -->
                    <div class="relative-table__select">
                        <select name="" id="tableSelect">
                            <option value="" disabled selected style="display: none;">---------</option>
                            <option value="2">2 строки</option>
                            <option value="4">4 строки</option>
                            <option value="10">10 строк</option>
                            <option value="-">Показать все</option>
                        </select>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="comment-box">
                <div class="comment-box__wrapper">
                    <div class="comment-box__header">
                        <i class='bx bx-printer'></i>Комменты
                    </div>
                    <div class="comment-box__body">
                        <div class="comment-box__scroll-area">
                            <div class="comment-box__prefer-scroll">
                                {% for comment in document.get_doc_comments %}
                                <div class="comment-box__message">
                                    <div class="comment-box__avatar">
                                        <img class="" width="125px"
                                            src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                                    </div>
                                    <div class="comment-box__text-body">
                                        <div class="comment-box__text"><p>{{ comment.body }}</p></div>
                                        <div class="comment-box__data">
                                            <i class='bx bxs-calendar'></i>{{ comment.created_at|date:'d.m.Y H:i:s'}}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="comment-box__footer">
                        <input type="text" class="comment-box__input" placeholder="Отправить...." id="commentInput">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ext-workspace__footer">
        <div class="notification" id="not-pop">
            <div class='notification__bell'><i class='bx bxs-bell'></i>
                <div class="notification__dot"><i class='bx bxs-circle'></i></div>
            </div>
            <div class="pop-mini" id="pop-min">
                <div class="pop-mini__header">
                    {% notifications user.id as notification %}
                    <div class="pop-mini__title">Уведомления</div>
                    <div class="pop-mini__subtitle">У Вас {{ notification.count }} пропущенных уведомлений</div>
                </div>
                <div class="pop-mini__body">
                    <div class="pop-mini__content">
                        {% for notice in notification %}
                        <div class="not">
                            <div class="not__dot">
                                <i class='bx bx-radio-circle'></i>
                            </div>
                            <div class="not__body">
                                {% if notice.notification_type == 1 %}
                                <div class="not__title">Уведомление о создании нового проекта</div>
                                <div class="not__text">ГИП {{ notice.from_user.last_name }} {{ notice.from_user.first_name }} {{ notice.from_user.patronymic }} создал новый проект</div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="pop-mini__footer">
                    <div class="pop-mini__btn"><button>Посмотреть все</button></div>
                </div>
            </div>
        </div>
        <div class="language">
            <span><i class='bx bx-world'></i>
            </span>
        </div>
        <div class="theme">Dark/Light mode</div>
    </div>
</div>

{% endblock %}
{% block popup %}
<div class="popup" id="popup-info-card">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_info_card"><i class='bx bx-plus-circle form-close'></i></a>
            <div class="popup__title">Сформировать ИУЛ</div>
            <form action="" method="post" class="form">
                {% csrf_token %}

                <div class="form__field">
                    <label for="{{ info_card_form.developed_by.id_for_label }}">Разработал:</label>
                    {{ info_card_form.developed_by }}
                </div>

                <div class="form__field">
                    <label for="{{ info_card_form.checked_by.id_for_label }}">Проверил:</label>
                    {{ info_card_form.checked_by }}
                </div>

                <div class="form__field">
                    <label for="{{ info_card_form.norm_control.id_for_label }}">Нормоконтроль:</label>
                        {{ info_card_form.norm_control }}
                </div>

                <div class="form__field">
                    <label for="{{ info_card_form.approved_by.id_for_label }}">Утвердил:</label>
                        {{ info_card_form.approved_by }}
                </div>

                <div class="form__field">
                    <label for="{{ info_card_form.manager_position.id_for_label }}">Должность руководителя:</label>
                    {{ info_card_form.manager_position }}
                </div>

                <div class="form__field">
                    <label for="{{ info_card_form.manager_name.id_for_label }}">Имя<br>руководителя:</label>
                    {{ info_card_form.manager_name }}
                </div>

                <div class="form__submit">
                    <button type="submit" class="form__submit-btn" id="info-card-form-submit"
                            name="{{ info_card_form.prefix }}" value="Submit">Скачать</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="popup" id="popup-permission-card">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_permission_card"><i class='bx bx-plus-circle form-close'></i></a>
            <div class="popup__title">Сформировать<br>разрешение</div>
            <form action="" method="post" class="form">
                {% csrf_token %}

                <div class="form__field">
                    <label for="{{ permission_card_form.permission_number.id_for_label }}">Номер разрешения:</label>
                    {{ permission_card_form.permission_number }}
                </div>

                <div class="form__field">
                    <label for="{{ permission_card_form.norm_control.id_for_label }}">Нормоконтроль:</label>
                    {{ permission_card_form.norm_control }}
                </div>

                <div class="form__field">
                    <label for="{{ permission_card_form.changes_by.id_for_label }}">Изменения внес:</label>
                        {{ permission_card_form.changes_by }}
                </div>

                <div class="form__field">
                    <label for="{{ permission_card_form.made_by.id_for_label }}">Составил:</label>
                        {{ permission_card_form.made_by }}
                </div>

                <div class="form__field">
                    <label for="{{ permission_card_form.approved_by.id_for_label }}">Утвердил:</label>
                    {{ permission_card_form.approved_by }}
                </div>

                <div class="form__submit">
                    <button type="submit" class="form__submit-btn" id="permission-card-form-submit"
                            name="{{ permission_card_form.prefix }}" value="Submit">Скачать</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
