{% extends 'main/base.html' %}
{% load static %}


{% block title %}
Versionize | Document card
{% endblock %}
{% block workspace %}
<div class="ext-workspace">
    <div class="ext-workspace__input">
        <div class="left-block">
            <!-- Можно использовать как для пользователя, так и для эксперта/ответственногого -->
            <h2 class="block-title">Активный проект:</h2>
            <div class="project">
                <div class="project__info">
                    <div class="project__info-title">
                        {{ active_project_code }}
                        <p>{{ active_project_name }}</p>
                    </div>
                    <div class="project__info-data">
                        <div class="project__data">
                            <span>Следующая загрузка:</span>
                            <p>{{ active_project_next_upload|date:'d.m.Y' }}</p>
                        </div>
                        <div class="project__data">
                            <span>Срок экспертизы до:</span>
                            <p>{{ active_project_exp_date|date:'d.m.Y' }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="block-title">Ответственный:</h2>
            <div class="person">
                <div class="person__content">
                    <div class="person__text">
                        {% with document.section.responsible as responsible %}
                        <span class="person__name">{{ responsible.get_fullname }}</span>
                        <span class="person__job"><i class='bx bxs-business'></i>{{ responsible.get_company.name
                            }}</span>
                        <span class="person__post"><i class='bx bx-id-card'></i>{{ responsible.get_position }}</span>
                        <span class="person__role"><i class='bx bx-male'></i>{{ responsible.get_project_role }}</span>
                        <span class="person__phone"><i class='bx bx-mobile-alt'></i>s{{ responsible.phone }}</span>
                        <span class="person__mail"><i class='bx bx-mail-send'></i>{{ responsible.email }}</span>
                        {% endwith %}
                    </div>
                </div>
            </div>
            <h2 class="block-title">Файл:</h2>
            <div class="project__file">
                <div class="project__file-conten">
                    <div class="project__file-body">
                        <div class="project__file-name">{{ document.name }}</div>
                        <div class="project__file-md">MD5: {{ document.md5 }}</div>
                        <div class="project__file-ver">Вер.: {{ document.version }}</div>
                        <div class="project__file-chnge-ver">Изм.: {{ document.variation }}</div>
                    </div>
                </div>
            </div>
            <!-- Блок кнопок -->
            <div class="actions actions_section">
                <div class="actions__btn" id="add-section">
                    <span class="actions__icon"><i class='bx bx-bookmark-plus'></i></span>
                    <h3 class="actions__name">Сформировать ИУЛ</h3>
                </div>
            </div>
            <div class="actions actions_section">
                <div class="actions__btn" id="add-section">
                    <span class="actions__icon"><i class='bx bx-bookmark-plus'></i></span>
                    <h3 class="actions__name">Сформировать разрешение на внесение изменений</h3>
                </div>
            </div>
        </div>
        <div class="main">
            {% if object %}
            <div class="relative-table">
                <div class="relative-table__title">
                    <div class="relative-table__left-block"><i class='bx bx-detail'></i>Перечень корректировок</div>
                    <div class="relative-table__right-block">
                        <button>Скачать все</button>
                    </div>
                </div>
                <form action="#" class="form-table">
                    <div class="form-table__search">
                        <span>Поиск:</span>
                        <input type="text" name="" id="">
                    </div>
                    <table class="form-table__table">
                        <thead>
                            <th>Лист</th>
                            <th>Содержание изменения</th>
                            <th>Код</th>
                            <th>Примечание</th>
                        </thead>
                        <tbody>
                            {% for adjustment in document.get_linked_adjustments %}
                            <tr class='form-table__table_odd'>
                                <td class='form-table__table_center'>{{ adjustment.pages }}</td>
                                <td>{{ adjustment.body }}</td>
                                <td>{{ adjustment.code }}</td>
                                <td>{{ adjustment.note }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
                <div class="relative-table__footer">
                    <ul class="relative-table__paginator">
                        <li>
                            <a href="#"><span>«</span></a>
                        </li>
                        <li><a href=""><span>1</span></a></li>
                        <li><a href=""><span>2</span></a></li>
                        <li><a href=""><span>3</span></a></li>
                        <li><a href=""><span>4</span></a></li>
                        <li><a href=""><span>»</span></a></li>
                    </ul>
                    <div class="relative-table__select">
                        <select name="" id="">
                            <option value="0: 2">2 строки</option>
                            <option value="0: 6">4 строки</option>
                            <option value="0: 10">10 строк</option>
                        </select>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="ext-workspace__footer">
        <div class="notification">
            <button class="notification__btn">
                <span><i class='bx bxs-bell'></i>
                    <div class="notification__dot"></div>
                </span>
            </button>
        </div>
        <div class="language">Смена языка</div>
        <div class="theme">Dark/Light mode</div>
    </div>
</div>

{% endblock %}
{% block popup %}
<div class="popup" id="popup-project">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_pro">X</a>
            <div class="popup__title">Создание проекта</div>
            <form action="" method="post" class="form">
                {% csrf_token %}

                <div class="form__field">
                    <label>Шифр</label>
                    <input type='text' class="form__input">
                </div>
                <div class="form__field">
                    <label>Наименование</label>
                    <input type='text' class="form__input">
                </div>
                <div class="form__field">
                    <label>Ответственный</label>
                    <div class="form__select">
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>
                <div class="form__field">
                    <label>Срок экспертизы</label>
                    <input type='date' class="form__input">
                </div>
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn">Создать проект</button>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="popup" id="popup-section">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_sec">X</a>
            <div class="popup__title">Добавить раздел</div>
            <form action="" method="post" class="form">
                {% csrf_token %}
                <div class="form__field">
                    <label>Выбор раздела</label>
                    <div class="form__select">
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>
                <div class="form__field">
                    <label>Выбор проекта</label>
                    <div class="form__select">
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>
                <div class="form__field">
                    <label>Наименование</label>
                    <input type='text' class="form__input">
                </div>
                <div class="form__field">
                    <label>Выбор компании</label>
                    <div class="form__select">
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>
                <div class="form__field">
                    <label>Выбор ответственногого</label>
                    <div class="form__select">
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>
                <div class="form__field">
                    <label>Выбор эксперта</label>
                    <div class="form__select">
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn">Создать раздел</button>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="popup" id="popup-section2">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_sec2">X</a>
            <div class="popup__title">Создать раздел</div>
            <form action="" method="post" class="form">
                {% csrf_token %}
                <div class="form__field">
                    <label>Наименование</label>
                    <input type='text' class="form__input">
                </div>
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn">Создать раздел</button>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="popup" id="popup-document">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_doc">X</a>
            <div class="popup__title">Загрузка документа</div>
            <form action="" method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form__field">
                    <label for="{{ doc_form.status.id_for_label }}">Статус</label>
                    <div class="form__select">
                        {{ doc_form.status }}
                    </div>
                </div>
                <div class="form__field">
                    <label for="{{ doc_form.name.id_for_label }}">Наименование</label>
                    {{ doc_form.name }}
                </div>
                <div class="form__field">
                    <label for="{{ doc_form.doc_path.id_for_label }}">Файл</label>
                    {{ doc_form.doc_path }}
                </div>
                <div class="form__field">
                    <label for="{{ doc_form.section.id_for_label }}">Раздел</label>
                    <div class="form__select">
                        {{ doc_form.section }}
                    </div>
                </div>
                <div class="form__field">
                    <label for="{{ doc_form.note.id_for_label }}">Примечания</label>
                    {{ doc_form.note }}
                </div>
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn" name="{{ doc_form.prefix }}" value="Submit">
                        Создать документ
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}