{% extends 'main/base.html' %}
{% load lk_tags %}
{% load static %}

{% block workspace %}
<div class="ext-workspace">
    <div class="ext-workspace__input">
        <div class="left-block">
            <!-- @TheSleepyNomad -->
            <!-- ? Пользователь -->
            <div class="container">
                <div class="head-bar"><i class='bx bxs-user-detail'></i>Пользователь</div>
                <div class="user">
                    <div class="user__content">
                        <div class="user__body">
                            <div class="user__avatar" id="change-photo">
                                <img class="" width="125px"
                                src="{% if user.image %} {{ user.image.url }} {% else %}
                                https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg
                                {% endif %}">
                            </div>
                            <div class="user__info">
                                <div class="user__name">{{ user.last_name }} {{ user.first_name }}
                                    {{ user.patronymic}}</div>
                                <div class="user__job">
                                    <i class='bx bxs-business'></i>
                                    {{ user.get_usercompany_info.company }}
                                </div>
                                <div class="user__post">
                                    <i class='bx bx-id-card'></i>
                                    {{ user.get_position }}
                                </div>
                                <div class="user__role">
                                    <i class='bx bx-male'></i>
                                    {{ user.get_project_role }}
                                </div>
                            </div>
                        </div>
                        <div class="user__sub-info">
                            <div class="user__phone" id="change-email">
                                <i class='bx bx-mobile-alt'></i>
                                {{ user.phone }}
                            </div>
                            <div class="user__mail" id="change-email">
                                <i class='bx bx-mail-send'></i>
                                {{ user.email }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-bar">
                    <button class="gear-btn" id="change-password"><i class='bx bxs-cog'></i></button>
                </div>
            </div>
            
            <!-- Оставить -->
            <div class="container">
                <div class="head-bar head-bar_project"><i class='bx bx-task'></i>Активный проект</div>
                <div class="project">
                    <div class="project__title">{{ active_project_code }}</div>
                    <div class="project__sub-title">{{ active_project_name }}</div>
                    <div class="project__info-data">
                        <div class="project__data">
                            <span>Следующая загрузка:</span>
                            <p>{{ active_project_next_upload|date:'d.m.Y' }}</p>
                        </div>
                        <div class="project__data">
                            <span>Срок экспертизы до:</span>
                            <p>{{ active_project_exp_date|date:'d.m.Y' }}</p>
                        </div>
                    </div>
                </div>
                <div class="head-bar head-bar_project head-bar_top-border"><i class='bx bx-rotate-right'></i>Выбрать активный проект</div>
                <div class="project project_select">
                    <div class="form__select">
                        {% user-projects user.id as projects %}
                        <select id="activeProjectChge">
                            {% if active_project_id %}
                            <option value="{{ active_project_id }}">{{ active_project_code }}</option>
                            {% endif %}
                            {% for project in projects %}
                                {% if project.id != active_project_id %}
                                    <option value="{{ project.id }}">{{ project.code }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            {% if active_project_id %}
            <!-- Удалить -->
            <div class="card">
                <div class="card__wrapper">
                    <div class="card__header card__header_project"><i class='bx bx-task'></i>Активный проект:</div>
                    <div class="card__body-active-project">
                        <div class="project__info">
                            <div class="project__info-title">
                                {{ active_project_code }}
                                <p>{{ active_project_name }}</p>
                            </div>
                            <div class="project__info-data">
                                <div class="project__data">
                                    <span>Следующая загрузка:</span>
                                    <p>{{ active_project_next_upload|date:'d.m.Y' }}</p>
                                </div>
                                <div class="project__data">
                                    <span>Срок экспертизы до:</span>
                                    <p>{{ active_project_exp_date|date:'d.m.Y' }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card__select-project"><i class='bx bx-rotate-right'></i>Выбрать активный проект</div>
                    <div class="card__body-select-project">
                        <div class="form__select">
                            {% user-projects user.id as projects %}
                            <select id="activeProjectChge">
                                {% if active_project_id %}
                                <option value="{{ active_project_id }}">{{ active_project_code }}</option>
                                {% endif %}
                                {% for project in projects %}
                                    {% if project.id != active_project_id %}
                                        <option value="{{ project.id }}">{{ project.code }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="card">
                <div class="card__wrapper">
                    <div class="card__select-project"><i class='bx bx-rotate-right'></i>Выбрать активный проект</div>
                    <div class="card__body-select-project">
                        <div class="form__select">
                            {% user-projects user.id as projects %}
                            <select id="activeProjectChge">
                                {% if active_project_id %}
                                <option value="{{ active_project_id }}">{{ active_project_code }}</option>
                                {% endif %}
                                {% for project in projects %}
                                    {% if project.id != active_project_id %}
                                        <option value="{{ project.id }}">{{ project.code }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- {% if active_project_id %}
            <h2 class="block-title">Активный проект:</h2>
            <div class="project">
                <div class="project__info">
                    <div class="project__info-title">
                        {{ active_project_code }}
                        <p>{{ active_project_name }}</p>
                    </div>
                    <div class="project__info-data">
                        <div class="project__data">
                            <span>Следующая загрузка:</span>
                            <p>{{ active_project_next_upload|date:'d.m.Y' }}</p>
                        </div>
                        <div class="project__data">
                            <span>Срок экспертизы до:</span>
                            <p>{{ active_project_exp_date|date:'d.m.Y' }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <h2 class="block-title">Активный проект:</h2>
            <div class="project">
                <div class="project__info">
                    <div class="project__info-title">Проект не выбран</div>
                </div>
            </div>
            {% endif %} -->
            <!-- ======================================================================== -->
            <!-- БЛОК ДЛЯ ВЫБОРА АКТИВНОГО ПРОЕКТА -->
            <!-- <div class="project">
                <h2 class="block-title">Выбрать актив. проект</h2>
                <div class="form__select">
                    {% user-projects user.id as projects %}
                    <select id="activeProjectChge">
                        {% if active_project_id %}
                        <option value="{{ active_project_id }}">{{ active_project_code }}</option>
                        {% endif %}
                        {% for project in projects %}
                            {% if project.id != active_project_id %}
                                <option value="{{ project.id }}">{{ project.code }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div> -->
            <!-- ======================================================================== -->
            <!-- БЛОК ДЛЯ ВЫБОРА ПРОЕКТОВ -->
            <!-- Данная кнопка доступна только человеку с ролью ГИП -->
{#            {% if user.get_project_role == 'ГИП' %}#}
{#            <div class="project">#}
{#                <h2 class="block-title">Проекты:</h2>#}
{#                <div class="form__select">#}
{#                    {% user-projects user.id as projects %}#}
{#                    <select id="selectProject">#}
{#                        {% for project in projects %}#}
{#                        <option value="{{ project.id }}" data-url="{% url 'main:project' project.id %}">{{ project.code }}</option>#}
{#                        {% endfor %}#}
{#                    </select>#}
{#                </div>#}
{#            </div>#}
{#            {% endif %}#}
            <!-- ======================================================================== -->
            <!-- Блок кнопок -->
            <div class="card">
                <div class="card__wrapper">
                    <div class="card__actions"><i class='bx bx-code-block'></i>Действия</div>
                    <div class="card__body-select-project">
                        {% if user.is_staff or user.is_superuser or user.usercompanyinfo.chief_project_engineer %}
                        <button class='card__btns' id="add-project">
                            <i class='bx bx-folder-plus'></i>
                            Создать проект
                        </button>
                        {% endif %}
                        {% if user.is_staff or user.is_superuser or user.usercompanyinfo.assistant or user.usercompanyinfo.chief_project_engineer%}
                        <button class='card__btns' id="add-section">
                            <i class='bx bx-bookmark-plus'></i>
                            Добавить раздел
                        </button>
                        {% endif %}
                        <button class='card__btns card__btns_last' id="add-document">
                            <i class='bx bx-file'></i>
                            Загрузить документ
                        </button>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="head-bar head-bar_actions"><i class='bx bx-code-block'></i>Действия</div>
                <div class="actions">
                    {% if user.is_staff or user.is_superuser or user.usercompanyinfo.chief_project_engineer %}
                        <button class='action-btn' id="add-project">
                            <i class='bx bx-folder-plus'></i>
                            Создать проект
                        </button>
                        {% endif %}
                        {% if user.is_staff or user.is_superuser or user.usercompanyinfo.assistant or user.usercompanyinfo.chief_project_engineer%}
                        <button class='action-btn' id="add-section">
                            <i class='bx bx-bookmark-plus'></i>
                            Добавить раздел
                        </button>
                        {% endif %}
                        <button class='action-btn action-btn_last' id="add-document">
                            <i class='bx bx-file'></i>
                            Загрузить документ
                        </button>
                </div>
            </div>
            <!-- <h2 class="block-title">Действия:</h2>
        {% if user.is_staff or user.is_superuser or user.usercompanyinfo.chief_project_engineer %}
            <div class="actions actions_project">
                <div class="actions__btn" id="add-project">
                    <span class="actions__icon"><i class='bx bx-folder-plus'></i></span>
                    <h3 class="actions__name">Создать проект</h3>
                </div>
            </div>
        {% endif %}
        {% if user.is_staff or user.is_superuser or user.usercompanyinfo.assistant or user.usercompanyinfo.chief_project_engineer%}
            <div class="actions actions_section">
                <div class="actions__btn" id="add-section">
                    <span class="actions__icon"><i class='bx bx-bookmark-plus'></i></span>
                    <h3 class="actions__name">Добавить раздел</h3>
                </div>
            </div>
        {% endif %} -->
            <!-- <div class="actions actions_section">
            <div class="actions__btn" id="add-section_new">
                <span class="actions__icon"><i class='bx bx-bookmark-plus'></i></span>
                <h3 class="actions__name">Создать раздел</h3>
            </div>
        </div> -->
            <!-- <div class="actions actions_document">
                <div class="actions__btn" id="add-document">
                    <span class="actions__icon"><i class='bx bx-file'></i></span>
                    <h3 class="actions__name">Загрузить документ</h3>
                </div>
            </div> -->
        </div>
        <div class="main">
            <div class="task-list">
                <div class="task-list__wrapper">
                    <div class="task-list__header"><i class='bx bx-data'></i>Задачи</div>
                    <div class="task-list__body">
                        <div class="task-list__scroll-area">
                            <div class="task-list__prefer-scroll">
                                <ul class="task-list__list">
                                    <li class="task-list__item">
                                        <div class="task-list__indicator"></div>
                                        <div class="task-list__content">
                                            <div class="task-list__check-widget">
                                                <input type="checkbox" name="" id="" class="task-list__check">
                                            </div>
                                            <div class="task-list__body">
                                                <div class="task-list__title">Заголовок
                                                </div>
                                                <div class="task-list__subtitle">Описание</div>
                                            </div>
                                            <div class="task-list__actions">
                                                <button class="task-list__list-btns-ok">
                                                    <i class='bx bx-check'></i>
                                                </button>
                                                <button class="task-list__list-btns-del">
                                                    <i class='bx bxs-trash'></i>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="task-list__item">
                                        <div class="task-list__indicator"></div>
                                        <div class="task-list__content">
                                            <div class="task-list__check-widget">
                                                <input type="checkbox" name="" id="" class="task-list__check">
                                            </div>
                                            <div class="task-list__body">
                                                <div class="task-list__title">Заголовок
                                                </div>
                                                <div class="task-list__subtitle">Описание</div>
                                            </div>
                                            <div class="task-list__actions">
                                                <button class="task-list__list-btns-ok">
                                                    <i class='bx bx-check'></i>
                                                </button>
                                                <button class="task-list__list-btns-del">
                                                    <i class='bx bxs-trash'></i>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="task-list__item">
                                        <div class="task-list__indicator"></div>
                                        <div class="task-list__content">
                                            <div class="task-list__todo-indicatore"></div>
                                            <div class="task-list__check-widget">
                                                <input type="checkbox" name="" id="" class="task-list__check">
                                            </div>
                                            <div class="task-list__body">
                                                <div class="task-list__title">Заголовок
                                                </div>
                                                <div class="task-list__subtitle">Описание</div>
                                            </div>
                                            <div class="task-list__actions">
                                                <button class="task-list__list-btns-ok">
                                                    <i class='bx bx-check'></i>
                                                </button>
                                                <button class="task-list__list-btns-del">
                                                    <i class='bx bxs-trash'></i>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="task-list__item">
                                        <div class="task-list__indicator"></div>
                                        <div class="task-list__content">
                                            <div class="task-list__todo-indicatore"></div>
                                            <div class="task-list__check-widget">
                                                <input type="checkbox" name="" id="" class="task-list__check">
                                            </div>
                                            <div class="task-list__body">
                                                <div class="task-list__title">Заголовок
                                                </div>
                                                <div class="task-list__subtitle">Описание</div>
                                            </div>
                                            <div class="task-list__actions">
                                                <button class="task-list__list-btns-ok">
                                                    <i class='bx bx-check'></i>
                                                </button>
                                                <button class="task-list__list-btns-del">
                                                    <i class='bx bxs-trash'></i>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="task-list__item">
                                        <div class="task-list__indicator"></div>
                                        <div class="task-list__content">
                                            <div class="task-list__todo-indicatore"></div>
                                            <div class="task-list__check-widget">
                                                <input type="checkbox" name="" id="" class="task-list__check">
                                            </div>
                                            <div class="task-list__body">
                                                <div class="task-list__title">Заголовок
                                                </div>
                                                <div class="task-list__subtitle">Описание</div>
                                            </div>
                                            <div class="task-list__actions">
                                                <button class="task-list__list-btns-ok">
                                                    <i class='bx bx-check'></i>
                                                </button>
                                                <button class="task-list__list-btns-del">
                                                    <i class='bx bxs-trash'></i>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="task-list__item">
                                        <div class="task-list__indicator"></div>
                                        <div class="task-list__content">
                                            <div class="task-list__todo-indicatore"></div>
                                            <div class="task-list__check-widget">
                                                <input type="checkbox" name="" id="" class="task-list__check">
                                            </div>
                                            <div class="task-list__body">
                                                <div class="task-list__title">Заголовок
                                                </div>
                                                <div class="task-list__subtitle">Описание</div>
                                            </div>
                                            <div class="task-list__actions">
                                                <button class="task-list__list-btns-ok">
                                                    <i class='bx bx-check'></i>
                                                </button>
                                                <button class="task-list__list-btns-del">
                                                    <i class='bx bxs-trash'></i>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="task-list__item">
                                        <div class="task-list__indicator"></div>
                                        <div class="task-list__content">
                                            <div class="task-list__todo-indicatore"></div>
                                            <div class="task-list__check-widget">
                                                <input type="checkbox" name="" id="" class="task-list__check">
                                            </div>
                                            <div class="task-list__body">
                                                <div class="task-list__title">Заголовок
                                                </div>
                                                <div class="task-list__subtitle">Описание</div>
                                            </div>
                                            <div class="task-list__actions">
                                                <button class="task-list__list-btns-ok">
                                                    <i class='bx bx-check'></i>
                                                </button>
                                                <button class="task-list__list-btns-del">
                                                    <i class='bx bxs-trash'></i>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="task-list__item">
                                        <div class="task-list__indicator"></div>
                                        <div class="task-list__content">
                                            <div class="task-list__todo-indicatore"></div>
                                            <div class="task-list__check-widget">
                                                <input type="checkbox" name="" id="" class="task-list__check">
                                            </div>
                                            <div class="task-list__body">
                                                <div class="task-list__title">Заголовок
                                                </div>
                                                <div class="task-list__subtitle">Описание</div>
                                            </div>
                                            <div class="task-list__actions">
                                                <button class="task-list__list-btns-ok">
                                                    <i class='bx bx-check'></i>
                                                </button>
                                                <button class="task-list__list-btns-del">
                                                    <i class='bx bxs-trash'></i>
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="task-list__footer">
                        <button class="task-list__footer-btns">Добавить</button>
                    </div>
                </div>
            </div>
            
            <div class="project-progress">
                <div class="project-progress__title">
                    <a href="">Название проекта</a>
                    <span>10.10.2010</span>
                </div>
                <div class="project-progress__bar">
                    <span class="project-progress__bar-title">Ход выполнения:</span>
                    <div class="project-progress__bar-container">
                        <div class="project-progress__load"></div>
                    </div>
                </div>
                <div class="project-progress__team">
                    <div class="project-progress__team-title">Команда</div>
                    <div class="project-progress__man">
                        <a href="#"><img class=""
                                src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"></a>
                        <a href="#"><img class=""
                                src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"></a>
                        <a href="#"><img class=""
                                src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"></a>
                        <a href="#"><img class=""
                                src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"></a>
                        <a href="#"><img class=""
                                src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ext-workspace__footer">
        <div class="notification" id="not-pop">
            <div class='notification__bell'><i class='bx bxs-bell'></i>
                <div class="notification__dot"><i class='bx bxs-circle'></i></div>
            </div>
            <div class="pop-mini" id="pop-min">
                <div class="pop-mini__header">
                    {% notifications user.id as notification %}
                    <div class="pop-mini__title">Уведомления</div>
                    <div class="pop-mini__subtitle">У Вас {{ notification.count }} пропущенных уведомлений</div>
                </div>
                <div class="pop-mini__body">
                    <div class="pop-mini__content">
                        {% for notice in notification %}
                        <div class="not">
                            <div class="not__dot">
                                <i class='bx bx-radio-circle'></i>
                            </div>
                            <div class="not__body">
                                {% if notice.notification_type == 1 %}
                                <div class="not__title">Уведомление о создании нового проекта</div>
                                <div class="not__text">ГИП {{ notice.from_user.last_name }} {{ notice.from_user.first_name }} {{ notice.from_user.patronymic }} создал новый проект</div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="pop-mini__footer">
                    <div class="pop-mini__btn"><button>Посмотреть все</button></div>
                </div>
            </div>
        </div>
        <div class="language">
            <span><i class='bx bx-world'></i>
            </span>
        </div>
        <div class="theme">Dark/Light mode</div>
    </div>
</div>
{% endblock %}
{% block popup %}
<div class="popup" id="popup-project">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_pro"><i class='bx bx-plus-circle form-close'></i></a>
            <div class="popup__title">Создание проекта</div>
            <form action="" method="post" class="form">
                {% csrf_token %}
                <div class="form__field">
                    <label for="{{ create_project_form.code.id_for_label }}">Шифр</label>
                    {{ create_project_form.code }}
                </div>
                <div class="form__field">
                    <label for="{{ create_project_form.name.id_for_label }}">Наименование</label>
                    {{ create_project_form.name }}
                </div>

                <div class="form__field">
                    <label for="{{ create_project_form.project_type.id_for_label }}">Тип объекта</label>
                    <div class="form__select">
                        {{ create_project_form.project_type }}
                    </div>
                </div>
                <div class="form__field">
                    <label for="{{ create_project_form.admin.id_for_label }}">Ответственный</label>
                    <div class="form__select">
                        {{ create_project_form.admin }}
                    </div>
                </div>
                <div class="form__field">
                    <label for="{{ create_project_form.exp_date.id_for_label }}">Срок экспертизы</label>
                    {{ create_project_form.exp_date }}
                </div>
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn"
                            name="{{ create_project_form.prefix }}" value="Submit">Создать проект</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="popup" id="popup-section">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_sec"><i class='bx bx-plus-circle form-close'></i></a>
            <div class="popup__title">Добавить раздел</div>
            <form action="" method="post" class="form">
                {% csrf_token %}
                <div class="form__field">
                    <label for="{{ add_section_form.abbreviation.id_for_label }}">Шифр раздела</label>
                    {{ add_section_form.abbreviation }}
                    {# <span id="secRefAdd">#}
                        {# <i class='bx bx-plus' id="secRefAdd"></i>#}
                        {# </span>#}
                </div>
                <div class="form__field">
                    <label for="{{ add_section_form.name.id_for_label }}">Наименование</label>
                    {{ add_section_form.name }}
                </div>
                <div class="form__field">
                    <label for="{{ add_section_form.company.id_for_label }}">Выбор компании</label>
                    <div class="form__select">
                        {{ add_section_form.company }}
                    </div>
                </div>
                {# <div class="form__field">#}
                    {# <label>Выбор ответственного</label>#}
                    {# <div class="form__select">#}
                        {# <select>#}
                            {# <option value="">1</option>#}
                            {# <option value="">2</option>#}
                            {# <option value="">3</option>#}
                            {# </select>#}
                        {# </div>#}
                    {# </div>#}
                {# <div class="form__field">#}
                    {# <label>Выбор эксперта</label>#}
                    {# <div class="form__select">#}
                        {# <select>#}
                            {# <option value="">1</option>#}
                            {# <option value="">2</option>#}
                            {# <option value="">3</option>#}
                            {# </select>#}
                        {# </div>#}
                    {# </div>#}
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn" name="{{ add_section_form.prefix }}"
                        value="Submit">Создать раздел</button>
                </div>

            </form>
        </div>
        <div class="new-form" id="newForm">
            <div class="new-from__body">
                <a href="#" class="new-form__close" id="new-form__close">
                    <i class='bx bx-plus-circle form-close' id="newform-close"></i></a>
                <div class="new-form__title">Создать раздел</div>
                <form action="#">
                    <div class="form__field">
                        <label>Наименование</label>
                        <input type='text' class="form__input">
                    </div>
                    <div class="form__submit">
                        <button type="submit" class="form__submit-btn" id='subSecAdd'>Создать раздел</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="popup" id="popup-section2">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_sec2">X</a>
            <div class="popup__title">Создать раздел</div>
            <form action="" method="post" class="form">
                {% csrf_token %}
                <div class="form__field">
                    <label>Наименование</label>
                    <input type='text' class="form__input">
                </div>
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn">Создать раздел</button>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="popup" id="popup-document">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_doc"><i class='bx bx-plus-circle form-close'></i></a>
            <div class="popup__title">Загрузка документа</div>
            <form action="" method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form__field">
                    <label for="{{ doc_form.status.id_for_label }}">Статус</label>
                    <div class="form__select">
                        {{ doc_form.status }}
                    </div>
                </div>
                <div class="form__field">
                    <label for="{{ doc_form.doc_path.id_for_label }}">Файл</label>
                    {{ doc_form.doc_path }}
                </div>
                <div class="form__field">
                    <label for="{{ doc_form.section.id_for_label }}">Раздел</label>
                    <div class="form__select">
                        {{ doc_form.section }}
                    </div>
                </div>
                <div class="form__field">
                    <label for="{{ doc_form.note.id_for_label }}">Примечания</label>
                    {{ doc_form.note }}
                </div>
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn" name="{{ doc_form.prefix }}" value="Submit">
                        Загрузить документ
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="popup" id="popup-password">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_password"><i class='bx bx-plus-circle form-close'></i></a>
            <div class="popup__title">Смена пароля</div>
            <form action="" method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form__field">
                    <label for="{{ change_password_form.old_password.id_for_label }}">
                        Введите старый пароль:</label>
                    {{ change_password_form.old_password }}
                </div>
                <div class="form__field">
                    <label for="{{ change_password_form.new_password1.id_for_label }}">
                        Введите новый пароль:</label>
                    {{ change_password_form.new_password1 }}
                </div>
                <div class="form__field">
                    <label for="{{ change_password_form.new_password2.id_for_label }}">
                        Введите новый пароль еще раз:</label>
                    {{ change_password_form.new_password2 }}
                </div>
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn" name="{{ change_password_form.prefix }}" value="Submit">
                        Сменить пароль
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="popup" id="popup-photo">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_photo"><i class='bx bx-plus-circle form-close'></i></a>
            <div class="popup__title">Изменение фотографии</div>
            <form action="" method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form__field">
                    <label for="{{ photo_form.image.id_for_label }}">Файл:</label>
                    {{ photo_form.image }}
                </div>
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn" name="{{ photo_form.prefix }}" value="Submit">
                        Сменить фотографию
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="popup" id="popup-email">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_email"><i class='bx bx-plus-circle form-close'></i></a>
            <div class="popup__title">Изменение контактных данных</div>
            <form action="" method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form__field">
                    <label for="{{ email_form.email.id_for_label }}">Эл. почта:</label>
                    {{ email_form.email }}
                </div>
                <div class="form__field">
                    <label for="{{ email_form.phone.id_for_label }}">Телефон:</label>
                    {{ email_form.phone }}
                </div>
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn" name="{{ email_form.prefix }}" value="Submit">
                        Измененить контактные данные
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="popup {% if errors %}popup_open{% endif %}" id="popup-error">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_error"><i class='bx bx-plus-circle form-close'></i></a>
            <div class="popup__title">Ошибка!</div>
            <div>{{ errors }}</div>
        </div>
    </div>
</div>
{% endblock %}
