{% extends 'main/base.html' %}
{% load static %}

{% block workspace %}
<div class="ext-workspace">
    <div class="left-block">
        <!-- Можно использовать как для пользователя, так и для эксперта/ответственногого -->
        <h2 class="block-title">Пользователь:</h2>
        <div class="person">
            <div class="person__content">
                <div class="person__avatar">
                    <img class="" width="125px"
                        src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                </div>
                <div class="person__text">
                    <span class="person__name">{{ user.last_name }} {{ user.first_name }} {{ user.patronymic }}</span>
                    <span class="person__job">
                        <i class='bx bxs-business'></i>{{ user.get_usercompany_info.company }}</span>
                    <span class="person__post"><i class='bx bx-id-card'></i>{{ object.get_position }}</span>
                    <span class="person__role"><i class='bx bx-male'></i>{{ object.get_project_role }}</span>
                </div>
            </div>
            <div class="person__contacts">
                <span class="person__phone"><i class='bx bx-mobile-alt'></i>{{ user.phone }}</span>
                <span class="person__mail"><i class='bx bx-mail-send'></i>{{ user.email }}</span>
                <span class="person__actions"><i class='bx bx-dots-horizontal-rounded'></i></span>
            </div>
        </div>
        {% if active_project_id %}
        <h2 class="block-title">Активный проект:</h2>
        <div class="project">
            <div class="project__info">
                <div class="project__info-title">{{ active_project_code }}</div>
                <div class="project__info-data">
                    <div class="project__data">
                        <span>Следующая загрузка:</span>
                        <p>{{ active_project_next_upload|date:'d.m.Y' }}</p>
                    </div>
                    <div class="project__data">
                        <span>Срок экспертизы до:</span>
                        <p>{{ active_project_exp_date|date:'d.m.Y' }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <h2 class="block-title">Активный проект:</h2>
        <div class="project">
            <div class="project__info">
                <div class="project__info-title">Проект не выбран</div>
            </div>
        </div>
        {% endif %}
        <!-- Блок кнопок -->
        <h2 class="block-title">Действия:</h2>
        <div class="actions actions_project">
            <div class="actions__btn" id="add-project">
                <span class="actions__icon"><i class='bx bx-folder-plus'></i></span>
                <h3 class="actions__name">Создать проект</h3>
            </div>
        </div>
        <div class="actions actions_section">
            <div class="actions__btn" id="add-section">
                <span class="actions__icon"><i class='bx bx-bookmark-plus'></i></span>
                <h3 class="actions__name">Добавить раздел</h3>
            </div>
        </div>
        <div class="actions actions_section">
            <div class="actions__btn" id="add-section_new">
                <span class="actions__icon"><i class='bx bx-bookmark-plus'></i></span>
                <h3 class="actions__name">Создать раздел</h3>
            </div>
        </div>
        <div class="actions actions_document">
            <div class="actions__btn" id="add-document">
                <span class="actions__icon"><i class='bx bx-file'></i></span>
                <h3 class="actions__name">Загрузить документ</h3>
            </div>
        </div>
    </div>
    <div class="notice">
        <div class="notice__title">
            <span>Хроника событий</span>
        </div>
        <div class="notice__row">
            <div class="notice__content">
                <div class="notice__icon notice_icon-load-red">
                    <i class='bx bx-chevron-down-circle'></i>
                </div>
                <div class="notice__body">
                    <div class="notice__section-code">18-06/2021</div>
                    <div class="notice__theme">Загружены повторные замечания</div>
                    <div class="notice__msg"></div>
                    <div class="notice__btns"><a href="#">Просмотреть</a> | <a href="#">Прочитано</a></div>
                    <div class="notice__date">12.01.22 17:25:08</div>
                </div>
            </div>
            <div class="notice__content">
                <div class="notice__icon notice_icon-load-msg"><i class='bx bx-mail-send'></i></div>
                <div class="notice__body">
                    <div class="notice__section-code">18-06/2021</div>
                    <div class="notice__theme">Александр Петров (ООО "СтройИнжОбследование") в разделе ИЭИ
                        пишет:</div>
                    <div class="notice__msg">Виктор Васильевич, для корректировки повторных замечаний к
                        разделу ИЭИ необходимо повторно запросить справку о фоновых концетрациях загрязняющих
                        веществ. В приложенной в отчете справке фигурирует неактуальное наименование объекта.
                        Эксперт настаивает на том, что наименования в справке и отчете должны быть идентичными.
                    </div>
                    <div class="notice__btns">
                        <a href="#">Просмотреть</a> | <a href="#">Прочитано</a>
                    </div>
                    <div class="notice__date">12.01.22 12:29:12</div>
                </div>
            </div>
            <div class="notice__content">
                <div class="notice__icon notice_icon-load-grn">
                    <i class='bx bx-chevron-down-circle'></i>
                </div>
                <div class="notice__body">
                    <div class="notice__section-code">55-12/2020</div>
                    <div class="notice__theme">Загружена новая версия документа раздела КР</div>
                    <div class="notice__msg"></div>
                    <div class="notice__btns"><a href="#">Просмотреть</a> | <a href="#">Прочитано</a></div>
                    <div class="notice__date">12.01.22 10:13:11</div>
                </div>
            </div>
            <div class="notice__content">
                <div class="notice__icon notice_icon-load-red">
                    <i class='bx bx-calendar-exclamation'></i>
                </div>
                <div class="notice__body">
                    <div class="notice__section-code">55-12/2020</div>
                    <div class="notice__theme">До назначенной даты загрузки осталось 3 дня!</div>
                    <div class="notice__msg"></div>
                    <div class="notice__btns"><a href="#">Просмотреть</a> | <a href="#">Прочитано</a></div>
                    <div class="notice__date">10.01.22 17:22:12</div>
                </div>
            </div>
            <div class="notice__content">
                <div class="notice__icon notice_icon-load-red">
                    <i class='bx bx-chevron-down-circle'></i>
                </div>
                <div class="notice__body">
                    <div class="notice__section-code">55-12/2020</div>
                    <div class="notice__theme">Загружены повторные замечания</div>
                    <div class="notice__msg"></div>
                    <div class="notice__btns"><a href="#">Просмотреть</a> | <a href="#">Прочитано</a></div>
                    <div class="notice__date">10.01.22 16:20:10</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block popup %}
<div class="popup" id="popup-project">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_pro"><i class='bx bx-plus-circle form-close'></i></a>
            <div class="popup__title">Создание проекта</div>
            <form action="" method="post" class="form">
                {% csrf_token %}

                <div class="form__field">
                    <label>Шифр</label>
                    <input type='text' class="form__input">
                </div>
                <div class="form__field">
                    <label>Наименование</label>
                    <input type='text' class="form__input">
                </div>
                <div class="form__field">
                    <label>Ответственный</label>
                    <div class="form__select">
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>
                <div class="form__field">
                    <label>Срок экспертизы</label>
                    <input type='date' class="form__input">
                </div>
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn">Создать проект</button>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="popup" id="popup-section">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_sec"><i class='bx bx-plus-circle form-close'></i></a>
            <div class="popup__title">Добавить раздел</div>
            <form action="" method="post" class="form">
                {% csrf_token %}
                <div class="form__field">
                    <label>Выбор раздела</label>
                    <div class="form__select">
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                    <span id="secRefAdd">
                        <i class='bx bx-plus' id="secRefAdd"></i>
                    </span>
                </div>
                <div class="form__field">
                    <label>Выбор проекта</label>
                    <div class="form__select">
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>
                <div class="form__field">
                    <label>Наименование</label>
                    <input type='text' class="form__input">
                </div>
                <div class="form__field">
                    <label>Выбор компании</label>
                    <div class="form__select">
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>
                <div class="form__field">
                    <label>Выбор ответственногого</label>
                    <div class="form__select">
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>
                <div class="form__field">
                    <label>Выбор эксперта</label>
                    <div class="form__select">
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn">Создать раздел</button>
                </div>

            </form>
        </div>
        <div class="new-form" id="newForm">
            <div class="new-from__body">
                <a href="#" class="new-form__close" id="new-form__close">
                    <i class='bx bx-plus-circle form-close' id="newform-close"></i></a>
                <div class="new-form__title">Cоздать раздел</div>
                <form action="#">
                    <div class="form__field">
                        <label>Наименование</label>
                        <input type='text' class="form__input">
                    </div>
                    <div class="form__submit">
                        <button type="submit" class="form__submit-btn" id='subSecAdd'>Создать раздел</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="popup" id="popup-section2">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_sec2">X</a>
            <div class="popup__title">Создать раздел</div>
            <form action="" method="post" class="form">
                {% csrf_token %}
                <div class="form__field">
                    <label>Наименование</label>
                    <input type='text' class="form__input">
                </div>
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn">Создать раздел</button>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="popup" id="popup-document">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_doc"><i class='bx bx-plus-circle form-close'></i></a>
            <div class="popup__title">Загрузка документа</div>
            <form action="" method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form__field">
                    <label for="{{ doc_form.status.id_for_label }}">Статус</label>
                    <div class="form__select">
                        {{ doc_form.status }}
                    </div>
                </div>
                <div class="form__field">
                    <label for="{{ doc_form.name.id_for_label }}">Наименование</label>
                    {{ doc_form.name }}
                </div>
                <div class="form__field">
                    <label for="{{ doc_form.doc_path.id_for_label }}">Файл</label>
                    {{ doc_form.doc_path }}
                </div>
                <div class="form__field">
                    <label for="{{ doc_form.section.id_for_label }}">Раздел</label>
                    <div class="form__select">
                        {{ doc_form.section }}
                    </div>
                </div>
                <div class="form__field">
                    <label for="{{ doc_form.note.id_for_label }}">Примечания</label>
                    {{ doc_form.note }}
                </div>
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn" name="{{ doc_form.prefix }}" value="Submit">
                        Создать документ
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}