{% extends 'main/base2.html' %}
{% load static %}

{% block workspace %}
<div class="user-workspace">
    <div class="user-block">
        <div class="user-profile">
            <div class="user-profile__info">
                <div class="user-profile__avatar">
                    <img class="" width="150px"
                        src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                </div>
                <div class="user-profile__text">
                    <span class="user-profile__name">Панков Илья Владимирович</span>
                    <span class="user-profile__job"><i class='bx bxs-business'></i>Versionize team</span>
                    <span class="user-profile__post"><i class='bx bx-id-card'></i>Web Design</span>
                </div>
            </div>
            <div class="user-profile__actions">
                <a href="#" class="user-profile__link"><i class='bx bx-mail-send'></i>Добавить документ</a>
                <a href="#" class="user-profile__link"><i class='bx bx-chat'></i></a>
                <a href="#" class="user-profile__link" id="more-actions">
                    <i class='bx bx-dots-horizontal-rounded'></i></a>
            </div>
        </div>
        <div class="user-data">
            <ul class="user-contact">
                <li class="user-contact__item">
                    <div class="user-contact__title-row">
                        <span class='user-contact__title'>Активный проект</span>
                        <i class='bx bx-chevron-right'></i>
                    </div>
                    <ul class="sub-menu-project">
                        <li>
                            <div class="sub-menu-project__content">
                                <div class="sub-menu-project__title">2021 / 18-06/2021(объект) / 18-06/2021-ИГИ
                                </div>
                                <div class="sub-menu-project__data-block">
                                    <div class="sub-menu-project__data">
                                        <span>Загрузить до:</span>
                                        <p>15/01/2022</p>
                                    </div>
                                    <div class="sub-menu-project__data">
                                        <span>Был загружен:</span>
                                        <p>15/01/2022</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="user-contact">
                <li class="user-contact__item">
                    <div class="user-contact__title-row">
                        <span class='user-contact__title'>Контакты</span>
                        <i class='bx bx-chevron-right'></i>
                    </div>
                    <ul class="user-contact__sub-menu">
                        <li>
                            <div class="user-contact__sub-menu-item">
                                <i class='bx bx-phone'></i><span>Телефон: 8-916-777-77-77</span>
                            </div>
                        </li>
                        <li>
                            <div class="user-contact__sub-menu-item">
                                <i class='bx bx-printer'></i><span>Факс: 8-916-777-77-77</span>
                            </div>
                        </li>
                        <li>
                            <div class="user-contact__sub-menu-item">
                                <i class='bx bxl-gmail'></i>
                                <span>Почта: Versionize@yandex.ru</span>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="user-contact">
                <li class="user-contact__item">
                    <div class="user-contact__title-row">
                        <span class='user-contact__title'>Проекты</span>
                        <i class='bx bx-chevron-right'></i>
                    </div>
                    <ul class="user-contact__sub-menu">
                        <li>
                            <div class="user-projects">
                                <div class="user-projects__section-code">18-06/2021</div>
                                <div class="user-projects__project-name">Реконструкция производстенного здания
                                    на территории фабрики</div>
                            </div>
                        </li>
                        <li>
                            <div class="user-projects">
                                <div class="user-projects__section-code">55-12/2021</div>
                                <div class="user-projects__project-name">Строительство 18-ти этажного здания на
                                    участке с кадастровым номером 23:2342:10000023:14</div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="user-events">
        <div class="user-events__title">
            <span>Хроника событий</span>
        </div>
        <div class="user-events__row">
            <div class="user-events__content">
                <div class="user-events__icon user-events_icon-load-red">
                    <i class='bx bx-chevron-down-circle'></i>
                </div>
                <div class="user-events__body">
                    <div class="user-events__section-code">18-06/2021</div>
                    <div class="user-events__theme">Загружены повторные замечания</div>
                    <div class="user-events__msg"></div>
                    <div class="user-events__btns"><a href="#">Просмотреть</a> | <a href="#">Прочитано</a></div>
                    <div class="user-events__date">12.01.22 17:25:08</div>
                </div>
            </div>
            <div class="user-events__content">
                <div class="user-events__icon user-events_icon-load-msg"><i class='bx bx-mail-send'></i></div>
                <div class="user-events__body">
                    <div class="user-events__section-code">18-06/2021</div>
                    <div class="user-events__theme">Александр Петров (ООО "СтройИнжОбследование") в разделе ИЭИ
                        пишет:</div>
                    <div class="user-events__msg">Виктор Васильевич, для корректировки повторных замечаний к
                        разделу ИЭИ необходимо повторно запросить справку о фоновых концетрациях загрязняющих
                        веществ. В приложенной в отчете справке фигурирует неактуальное наименование объекта.
                        Эксперт настаивает на том, что наименования в справке и отчете должны быть идентичными.
                    </div>
                    <div class="user-events__btns">
                        <a href="#">Просмотреть</a> | <a href="#">Прочитано</a>
                    </div>
                    <div class="user-events__date">12.01.22 12:29:12</div>
                </div>
            </div>
            <div class="user-events__content">
                <div class="user-events__icon user-events_icon-load-grn">
                    <i class='bx bx-chevron-down-circle'></i>
                </div>
                <div class="user-events__body">
                    <div class="user-events__section-code">55-12/2020</div>
                    <div class="user-events__theme">Загружена новая версия документа раздела КР</div>
                    <div class="user-events__msg"></div>
                    <div class="user-events__btns"><a href="#">Просмотреть</a> | <a href="#">Прочитано</a></div>
                    <div class="user-events__date">12.01.22 10:13:11</div>
                </div>
            </div>
            <div class="user-events__content">
                <div class="user-events__icon user-events_icon-load-red">
                    <i class='bx bx-calendar-exclamation'></i>
                </div>
                <div class="user-events__body">
                    <div class="user-events__section-code">55-12/2020</div>
                    <div class="user-events__theme">До назначенной даты загрузки осталось 3 дня!</div>
                    <div class="user-events__msg"></div>
                    <div class="user-events__btns"><a href="#">Просмотреть</a> | <a href="#">Прочитано</a></div>
                    <div class="user-events__date">10.01.22 17:22:12</div>
                </div>
            </div>
            <div class="user-events__content">
                <div class="user-events__icon user-events_icon-load-red">
                    <i class='bx bx-chevron-down-circle'></i>
                </div>
                <div class="user-events__body">
                    <div class="user-events__section-code">55-12/2020</div>
                    <div class="user-events__theme">Загружены повторные замечания</div>
                    <div class="user-events__msg"></div>
                    <div class="user-events__btns"><a href="#">Просмотреть</a> | <a href="#">Прочитано</a></div>
                    <div class="user-events__date">10.01.22 16:20:10</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}