{% extends 'main/base.html' %}
{% load lk_tags %}
{% load static %}

{% block workspace %}
<div class="ext-workspace">
    <div class="ext-workspace__input">
        <div class="left-block">
        </div>
        <div class="main">
        </div>
    </div>
    <div class="ext-workspace__footer">
        <div class="notification" id="not-pop">
            <div class='notification__bell'><i class='bx bxs-bell'></i>
                <div class="notification__dot"><i class='bx bxs-circle'></i></div>
            </div>
            <div class="pop-mini" id="pop-min">
                <div class="pop-mini__header">
                    {% notifications user.id as notification %}
                    <div class="pop-mini__title">Уведомления</div>
                    <div class="pop-mini__subtitle">У Вас {{ notification.count }} пропущенных уведомлений</div>
                </div>
                <div class="pop-mini__body">
                    <div class="pop-mini__content">
                        {% for notice in notification %}
                        <div class="not">
                            <div class="not__dot">
                                <i class='bx bx-radio-circle'></i>
                            </div>
                            <div class="not__body">
                                <div class="not__title">Уведомление от {{ notice.from_user }}</div>
                                <div class="not__text">Текст уведомления</div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="pop-mini__footer">
                    <div class="pop-mini__btn"><button>Посмотреть все</button></div>
                </div>
            </div>
        </div>
        <div class="language">
            <span><i class='bx bx-world'></i>
            </span>
        </div>
        <div class="theme">Dark/Light mode</div>
    </div>
</div>
{% endblock %}