{% extends 'main/base.html' %}
{% load lk_tags %}
{% load static %}

{% block leftblock %}
{% endblock %}
{% block main %}

    <!-- * @TheSleepyNomad -->
    <!-- ? Таблица -->
    <div class="container">
                <div class="head-bar head-bar_table">
                    <i class='bx bx-detail'></i>
                    Перечень корректировок
                </div>
                <form action="#" class="form-table">
                    <div class="form-table__search">
                        <span>Поиск:</span>
                        <input type="text" name="" id="tableSearch">
                    </div>
                    <table class="form-table__table">
                        <thead>
                            <th>Шифр</th>
                            <th>Наименование</th>
                            <th>Дата создания</th>
                            <th>Срок экспертизы</th>
                            <th>Следующая загрузка</th>
                            <th>ГИП</th>
                            <th>Тип объекта</th>
                        </thead>
                        <tbody id="table">
                            {% for project in projects %}
                            <tr>
                                <td class='form-table__table_center'>{{ project.code }}</td>
                                <td><a href="{% url 'main:project' project.id %}">{{ project.name }}</a></td>
                                <td>{{ project.created_at }}</td>
                                <td>{{ project.exp_date }}</td>
                                <td>{{ project.next_upload }}</td>
                                <td>{{ project.admin }}</td>
                                <td>{{ project.project_type }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
                <div class="bottom-bar bottom-bar_txt-alg-off">
                    <div class="table-select">
                        <select name="" id="tableSelect">
                            <option value="" disabled selected style="display: none;">---------</option>
                            <option value="2">2 строки</option>
                            <option value="4">4 строки</option>
                            <option value="10">10 строк</option>
                            <option value="-">Показать все</option>
                        </select>
                    </div>
                </div>
    </div>

{% endblock %}