{% extends 'main/base.html' %}
{% load static %}
{% load lk_tags %}
{% block title %}
    {{ title }} / {{ active_project_code }}-{{ object.abbreviation }}
{% endblock %}
{% block workspace %}
<div class="ext-workspace">
    <div class="ext-workspace__input">
        {% if active_project_id %}
        <div class="left-block">

            <!-- * @TheSleepyNomad -->
            <!-- ? Активный проект -->
            <div class="container">
                <div class="head-bar head-bar_project"><i class='bx bx-task'></i>Активный проект</div>
                <div class="project">
                    <div class="project__title">{{ active_project_code }}</div>
                    <div class="project__sub-title">{{ active_project_name }}</div>
                    <div class="project__info-data">
                        <div class="project__data">
                            <span>Следующая загрузка:</span>
                            <p>{{ active_project_next_upload|date:'d.m.Y' }}</p>
                        </div>
                        <div class="project__data">
                            <span>Срок экспертизы до:</span>
                            <p>{{ active_project_exp_date|date:'d.m.Y' }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- * @TheSleepyNomad -->
            <!-- ? Ответственный -->
            <div class="container">
                {% with section.responsible as responsible %}
                <div class="head-bar"><i class='bx bxs-user-detail'></i>Ответственный:</div>
                <div class="user">
                    <div class="user__content">
                        <div class="user__body">
                            <div class="user__info">
                                <div class="user__name">{{ responsible.get_fullname }}</div>
                                <div class="user__job">
                                    <i class='bx bxs-business'></i>
                                    {{ responsible.get_company.name}}
                                </div>
                                <div class="user__post">
                                    <i class='bx bx-id-card'></i>
                                    {{ responsible.get_position }}
                                </div>
                                <div class="user__role">
                                    <i class='bx bx-male'></i>
                                    {{ responsible.get_project_role }}
                                </div>
                                <div class="user__phone" id="change-email">
                                    <i class='bx bx-mobile-alt'></i>
                                    {{ responsible.phone }}
                                </div>
                                <div class="user__mail" id="change-email">
                                    <i class='bx bx-mail-send'></i>
                                    {{ responsible.email }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endwith %}
            </div>

            <!-- * @TheSleepyNomad -->
            <!-- ? Эксперт -->
            <div class="container">
                {% with section.expert as expert %}
                <div class="head-bar"><i class='bx bxs-user-detail'></i>Эксперт:</div>
                <div class="user">
                    <div class="user__content">
                        <div class="user__body">
                            <div class="user__info">
                                <div class="user__name">{{ expert.get_fullname }}</div>
                                <div class="user__phone" id="change-email">
                                    <i class='bx bx-mobile-alt'></i>
                                    {{ expert.phone }}
                                </div>
                                <div class="user__mail" id="change-email">
                                    <i class='bx bx-mail-send'></i>
                                    {{ expert.email }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endwith %}
            </div>
            
            <!-- * @TheSleepyNomad -->
            <!-- ? Кнопки действий -->
            <div class="container">
                <div class="head-bar head-bar_actions"><i class='bx bx-code-block'></i>Действия</div>
                <div class="actions">
                    <button class='action-btn' id="add-document">
                        <i class='bx bx-file'></i>
                        Загрузить документ
                    </button>
                    {% if user.is_staff or user.is_superuser or user.usercompanyinfo.assistant or user.usercompanyinfo.chief_project_engineer%}
                    <button class='action-btn action-btn_last' id="add-remarkdoc">
                        <i class='bx bx-file'></i>
                        Загрузить замечания
                    </button>
                    {% endif %}
                </div>
            </div>

        </div>
        <div class="main">
            
            <!-- * @TheSleepyNomad -->
            <!-- ? Таблица -->
            <div class="container">
                <div class="head-bar head-bar_table">
                    <i class='bx bx-detail'></i>
                    Таблица
                </div>
                <form action="#" class="form-table">
                    <div class="form-table__search">
                        <span>Поиск:</span>
                        <input type="text" name="" id="tableSearch">
                    </div>
                    {% if active_project_id %}
                    {% if section.get_linked_documents %}
                    <table class="form-table__table">
                        <thead>
                            <th>Дата загрузки</th>
                            <th>Имя файла</th>
                            <th>Скачать</th>
                            <th>Md5</th>
                            <th>Версия</th>
                            <th>Изм.</th>
                            <th>Примечания</th>
                        </thead>
                        <tbody id="table">
                            {% for document in section.get_linked_documents %}
                            <tr>
                                <td>{{ document.created_at|date:'d.m.y' }} <br>
                                    {{ document.created_at|date:'H:i' }}</td>
                                <td><a href="{% url 'main:document' document.id %}">{{ document.name }}</a></td>
                                {% if document %}
                                <td title='{{ document.doc_path }}'>
                                    <a href="{% url 'main:document_download' document.id %}">
                                        <i class='bx bx-save'></i></a></td>
                                {% else %}
                                    <td><a href="#">
                                        <i class='bx bx-save'></i></a></td>
                                {% endif %}
                                <td>{{ document.md5 }}</td>
                                <td>{{ document.version }}</td>
                                <td>{{ document.variation }}</td>
                                <td>{{ document.note }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <h2>Загруженные файлы отсутствуют</h2>
                    {% endif %}
                    {% endif %}
                </form>
                <div class="bottom-bar bottom-bar_txt-alg-off">
                    <div class="table-select">
                        <select name="" id="tableSelect">
                            <option value="" disabled selected style="display: none;">---------</option>
                            <option value="2">2 строки</option>
                            <option value="4">4 строки</option>
                            <option value="10">10 строк</option>
                            <option value="-">Показать все</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="relative-table">
                <div class="relative-table__title">
                    <div class="relative-table__left-block"><i class='bx bx-detail'></i> Таблица</div>
                </div>
                <form action="#" class="form-table">
                    <div class="form-table__search">
                        <span>Поиск:</span>
                        <input type="text" name="" id="tableSearch">
                    </div>
                    {% if active_project_id %}
                    {% if section.get_linked_documents %}
                    <table class="form-table__table">
                        <thead>
                            <th>Дата загрузки</th>
                            <th>Имя файла</th>
                            <th>Скачать</th>
                            <th>Md5</th>
                            <th>Версия</th>
                            <th>Изм.</th>
                            <th>Примечания</th>
                        </thead>
                        <tbody id="table">
                            {% for document in section.get_linked_documents %}
                            <tr>
                                <td>{{ document.created_at|date:'d.m.y' }} <br>
                                    {{ document.created_at|date:'H:i' }}</td>
                                <td><a href="{% url 'main:document' document.id %}">{{ document.name }}</a></td>
                                {% if document %}
                                <td title='{{ document.doc_path }}'>
                                    <a href="{% url 'main:document_download' document.id %}">
                                        <i class='bx bx-save'></i></a></td>
                                {% else %}
                                    <td><a href="#">
                                        <i class='bx bx-save'></i></a></td>
                                {% endif %}
                                <td>{{ document.md5 }}</td>
                                <td>{{ document.version }}</td>
                                <td>{{ document.variation }}</td>
                                <td>{{ document.note }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <h2>Загруженные файлы отсутствуют</h2>
                    {% endif %}
                    {% endif %}
                </form>
                <div class="relative-table__footer">
                    <!-- Todo восстановить, когда будет готов функционал -->
                    <!-- <ul class="relative-table__paginator">
                        <li>
                            <a href="#"><span>«</span></a>
                        </li>
                        <li><a href=""><span>1</span></a></li>
                        <li><a href=""><span>2</span></a></li>
                        <li><a href=""><span>3</span></a></li>
                        <li><a href=""><span>4</span></a></li>
                        <li><a href=""><span>»</span></a></li>
                    </ul> -->
                    <div class="relative-table__select">
                        <select name="" id="tableSelect">
                            <option value="" disabled selected style="display: none;">---------</option>
                            <option value="2">2 строки</option>
                            <option value="4">4 строки</option>
                            <option value="10">10 строк</option>
                            <option value="-">Показать все</option>
                        </select>
                    </div>
                    {% if actualremark %}
                        <div>Актуальные замечания:
                            <a href="{% url 'main:remarkdoc_download' actualremark.id %}">
                                {{ actualremark }}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="ext-workspace__footer">
        <div class="notification" id="not-pop">
            <div class='notification__bell'><i class='bx bxs-bell'></i>
                <div class="notification__dot"><i class='bx bxs-circle'></i></div>
            </div>
            <div class="pop-mini" id="pop-min">
                <div class="pop-mini__header">
                    {% notifications user.id as notification %}
                    <div class="pop-mini__title">Уведомления</div>
                    <div class="pop-mini__subtitle">У Вас {{ notification.count }} пропущенных уведомлений</div>
                </div>
                <div class="pop-mini__body">
                    <div class="pop-mini__content">
                        {% for notice in notification %}
                        <div class="not">
                            <div class="not__dot">
                                <i class='bx bx-radio-circle'></i>
                            </div>
                            <div class="not__body">
                                {% if notice.notification_type == 1 %}
                                <div class="not__title">Уведомление о создании нового проекта</div>
                                <div class="not__text">ГИП {{ notice.from_user.last_name }} {{ notice.from_user.first_name }} {{ notice.from_user.patronymic }} создал новый проект</div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="pop-mini__footer">
                    <div class="pop-mini__btn"><button>Посмотреть все</button></div>
                </div>
            </div>
        </div>
        <div class="language">
            <span><i class='bx bx-world'></i>
            </span>
        </div>
        <div class="theme">Dark/Light mode</div>
    </div>
</div>
{% endblock %}
{% block popup %}
<div class="popup" id="popup-project">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_pro">X</a>
            <div class="popup__title">Создание проекта</div>
            <form action="" method="post" class="form">
                {% csrf_token %}

                <div class="form__field">
                    <label>Шифр</label>
                    <input type='text' class="form__input">
                </div>
                <div class="form__field">
                    <label>Наименование</label>
                    <input type='text' class="form__input">
                </div>
                <div class="form__field">
                    <label>Ответственный</label>
                    <div class="form__select">
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>
                <div class="form__field">
                    <label>Срок экспертизы</label>
                    <input type='date' class="form__input">
                </div>
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn">Создать проект</button>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="popup" id="popup-section">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_sec">X</a>
            <div class="popup__title">Добавить раздел</div>
            <form action="" method="post" class="form">
                {% csrf_token %}
                <div class="form__field">
                    <label>Выбор раздела</label>
                    <div class="form__select">
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>
                <div class="form__field">
                    <label>Выбор проекта</label>
                    <div class="form__select">
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>
                <div class="form__field">
                    <label>Наименование</label>
                    <input type='text' class="form__input">
                </div>
                <div class="form__field">
                    <label>Выбор компании</label>
                    <div class="form__select">
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>
                <div class="form__field">
                    <label>Выбор ответственногого</label>
                    <div class="form__select">
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>
                <div class="form__field">
                    <label>Выбор эксперта</label>
                    <div class="form__select">
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn">Создать раздел</button>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="popup" id="popup-section2">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_sec2">X</a>
            <div class="popup__title">Создать раздел</div>
            <form action="" method="post" class="form">
                {% csrf_token %}
                <div class="form__field">
                    <label>Наименование</label>
                    <input type='text' class="form__input">
                </div>
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn">Создать раздел</button>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="popup" id="popup-document">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_doc"><i class='bx bx-plus-circle form-close'></i></a>
            <div class="popup__title">Загрузка документа</div>
            <form action="" method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form__field">
                    <label for="{{ doc_form.status.id_for_label }}">Статус</label>
                    <div class="form__select">
                        {{ doc_form.status }}
                    </div>
                </div>
                <div class="form__field">
                    <label for="{{ doc_form.doc_path.id_for_label }}">Файл</label>
                    {{ doc_form.doc_path }}
                </div>
                <div class="form__field">
                    <label for="{{ doc_form.note.id_for_label }}">Примечания</label>
                    {{ doc_form.note }}
                </div>
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn" name="{{ doc_form.prefix }}" value="Submit">
                        Создать документ
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="popup" id="popup-remarkdoc">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_remarkdoc"><i class='bx bx-plus-circle form-close'></i></a>
            <div class="popup__title">Загрузка замечаний</div>
            <form action="" method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form__field">
                    <label for="{{ remarkdoc_form.name.id_for_label }}">Наименование</label>
                    {{ remarkdoc_form.name }}
                </div>
                <div class="form__field">
                    <label for="{{ remarkdoc_form.doc_path.id_for_label }}">Файл</label>
                    {{ remarkdoc_form.doc_path }}
                </div>
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn" name="{{ remarkdoc_form.prefix }}" value="Submit">
                        Загрузить замечания
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="popup {% if errors %}popup_open{% endif %}" id="popup-error">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_error"><i class='bx bx-plus-circle form-close'></i></a>
            <div class="popup__title">Ошибка!</div>
            <div>{{ errors }}</div>
        </div>
    </div>
</div>
{% endblock %}
