{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Versionize
{% endblock %}

{% block workspace-title %}
<div class="desktop__title-obj-name">
    <h1>{{ active_project_code }}</h1>
    <span>{{ active_project_name }}</span>
</div>
<div class="desktop__title-obj-date">
    <p>Следующая загрузка: <span>{{ active_project_next_upload }}</span></p>
</div>
<div class="desktop__title-obj-date">
    <p>Итоговая загрузка: <span>{{ active_project_exp_date }}</span></p>
</div>
<div class="desktop__title-obj-info">
    <h1>{{ section.company.name }}</h1>
</div>
<div class="desktop__title-expert-info">
    <p><b>Эксперт: </b><span>{{ section.expert.first_name }} {{ section.expert.last_name }} {{ section.expert.patronymic }}</span></p>
    <p><b>Тел: </b><span>{{ section.expert.phone }}</span></p>
    <p><b>E-mail: </b><span>{{ section.expert.email }}</span></p>
</div>
{% endblock %}
{% block workspace %}
<div class="desktop__workspace-table">
    <table class="content-table">
        <thead>
            <tr>
                <th>Дата и время загрузки</th>
                <th>Имя файла</th>
                <th>Скачать</th>
                <th>Md5</th>
                <th>Версия</th>
                <th>№ посл. изм.</th>
                <th>Примечания</th>
            </tr>
        </thead>
        <tbody>
        {% for document in section.get_linked_documents %}
            <tr>
                <td>{{ document.created_at|date:'d.m.y' }} <br>
                {{ document.created_at|date:'H:i' }}</td>
                <td>{{ document.name }}</td>
                <td><a href="#"><i class="far fa-save"></i></a></td>
                <td>d41d8cd98f00b204e9800998ecf8427e</td>
                <td>{{ document.version }}</td>
                <td>{{ document.variation }}</td>
                <td>{{ document.note }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <button type="button" class="download-button">
        <span class="download-button__text">Загрузить документ</span>
        <span class="download-button__icon">
            <i class='bx bx-cloud-upload'></i>
        </span>
    </button>
    <table class="content-table">
        <thead>
            <tr>
                <th>№</th>
                <th>Вывод о несоответствии</th>
                <th>Ссылка на материалы</th>
                <th>Основание</th>
                <th>Ответ исполнителя</th>
            </tr>
        </thead>
        <tbody>
        {% for remark in section.get_linked_remarks %}
            <tr>
                <td>{{ remark.number }}</td>
                <td><div>{{ remark.body }}</div></td>
                <td><div>{{ remark.link }}</div></td>
                <td><div>{{ remark.basis }}</div></td>
                <td>
                    <div>
                        contenteditable>Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Non
                        voluptatum, perferendis
                        dolorum corporis fuga perspiciatis debitis illo
                        eveniet, ut at sed iure doloribus
                        assumenda harum explicabo ipsa repudiandae
                        reprehenderit neque!
                    </div>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}