{% extends 'main/base2.html' %}
{% load static %}

{% block workspace %}
<div class="general-table">
    <h2>Сводная таблица</h2>
    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Имя файла</th>
                <th>Скачать</th>
                <th>Md5</th>
                <th>Версия</th>
                <th>№ посл. изм.</th>
                <th>Примечания</th>
                <th>Ответсвенный</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>31628092021_18-06-2021_2_ИГИ</td>
                <td><a href="#"><i class="far fa-save"></i></a></td>
                <td>d41d8cd98f00b204e9800998ecf8427e</td>
                <td>1</td>
                <td>~</td>
                <td>Все хорошо</td>
                <td><a href="#">Ковязин Александр Игоревич</a></td>
            </tr>
            <tr class="active-row">
                <td>2</td>
                <td>31628092021_18-06-2021_2_ИГИ</td>
                <td><a href="#"><i class="far fa-save"></i></a></td>
                <td>03c7c0ace395d80182db07ae2c30f034</td>
                <td>2</td>
                <td>~</td>
                <td>Смена наименования объекта</td>
                <td><a href="#">Ковязин Александр Игоревич</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>31628092021_18-06-2021_2_ИГИ_(изм.1)</td>
                <td><a href="#"><i class="far fa-save"></i></a></td>
                <td>b645f88f4b3633bde344a09a2ab32faf</td>
                <td>3</td>
                <td>1</td>
                <td>По замечаниям экспертизы</td>
                <td><a href="#">Ковязин Александр Игоревич</a></td>
            </tr>
        </tbody>
    </table>
    <a href="#" class="general-table__btn">Показать еще</a>
</div>
<button type="button" class="download-button">
    <span class="download-button__text">Загрузить документ</span>
    <span class="download-button__icon">
        <i class='bx bx-cloud-upload'></i>
    </span>
</button>
<div class="general-table">
    <h2>Сводная таблица</h2>
    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Вывод о несоответствии</th>
                <th>Ссылка на материалы</th>
                <th>Основание</th>
                <th>Ответ исполнителя</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>
                    <div contenteditable>Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Non
                        voluptatum, perferendis
                        dolorum corporis fuga perspiciatis debitis illo
                        eveniet, ut at sed iure doloribus
                        assumenda harum explicabo ipsa repudiandae
                        reprehenderit neque!</div>
                </td>
                <td>
                    <div contenteditable>Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Non
                        voluptatum, perferendis
                        dolorum corporis fuga perspiciatis debitis illo
                        eveniet, ut at sed iure doloribus
                        assumenda harum explicabo ipsa repudiandae
                        reprehenderit neque!</div>
                </td>
                <td>
                    <div contenteditable>Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Non
                        voluptatum, perferendis
                        dolorum corporis fuga perspiciatis debitis illo
                        eveniet, ut at sed iure doloribus
                        assumenda harum explicabo ipsa repudiandae
                        reprehenderit neque!</div>
                </td>
                <td>
                    <div contenteditable>Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Non
                        voluptatum, perferendis
                        dolorum corporis fuga perspiciatis debitis illo
                        eveniet, ut at sed iure doloribus
                        assumenda harum explicabo ipsa repudiandae
                        reprehenderit neque!</div>
                </td>

            </tr>
            <tr>
                <td>2</td>
                <td>
                    <div contenteditable>Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Non
                        voluptatum, perferendis
                        dolorum corporis fuga perspiciatis debitis illo
                        eveniet, ut at sed iure doloribus
                        assumenda harum explicabo ipsa repudiandae
                        reprehenderit neque!</div>
                </td>
                <td>
                    <div contenteditable>Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Non
                        voluptatum, perferendis
                        dolorum corporis fuga perspiciatis debitis illo
                        eveniet, ut at sed iure doloribus
                        assumenda harum explicabo ipsa repudiandae
                        reprehenderit neque!</div>
                </td>
                <td>
                    <div contenteditable>Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Non
                        voluptatum, perferendis
                        dolorum corporis fuga perspiciatis debitis illo
                        eveniet, ut at sed iure doloribus
                        assumenda harum explicabo ipsa repudiandae
                        reprehenderit neque!</div>
                </td>
                <td>
                    <div contenteditable>Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Non
                        voluptatum, perferendis
                        dolorum corporis fuga perspiciatis debitis illo
                        eveniet, ut at sed iure doloribus
                        assumenda harum explicabo ipsa repudiandae
                        reprehenderit neque!</div>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>
                    <div contenteditable>Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Non
                        voluptatum, perferendis
                        dolorum corporis fuga perspiciatis debitis illo
                        eveniet, ut at sed iure doloribus
                        assumenda harum explicabo ipsa repudiandae
                        reprehenderit neque!</div>
                </td>
                <td>
                    <div contenteditable>Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Non
                        voluptatum, perferendis
                        dolorum corporis fuga perspiciatis debitis illo
                        eveniet, ut at sed iure doloribus
                        assumenda harum explicabo ipsa repudiandae
                        reprehenderit neque!</div>
                </td>
                <td>
                    <div contenteditable>Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Non
                        voluptatum, perferendis
                        dolorum corporis fuga perspiciatis debitis illo
                        eveniet, ut at sed iure doloribus
                        assumenda harum explicabo ipsa repudiandae
                        reprehenderit neque!</div>
                </td>
                <td>
                    <div contenteditable>Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Non
                        voluptatum, perferendis
                        dolorum corporis fuga perspiciatis debitis illo
                        eveniet, ut at sed iure doloribus
                        assumenda harum explicabo ipsa repudiandae
                        reprehenderit neque!</div>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="#" class="general-table__btn">Показать еще</a>
</div>
{% endblock %}
{% block popup %}
<div class="popup" id="popup">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close">X</a>
            <div class="popup__title">SOME FORM</div>
            <form action="" method="post" class="form"></form>
            <div class="form">
                <div class="form__field">
                    <label>Text</label>
                    <input type='text' class="form__input">
                </div>
                <div class="form__field">
                    <label>Password</label>
                    <input type='password' class="form__input">
                </div>
                <div class="form__field">
                    <label>Custom select</label>
                    <div class="form__select">
                        <select>
                            <option value="">Select</option>
                            <option value="">Male</option>
                            <option value="">Section</option>
                        </select>
                    </div>
                </div>
                <div class="form__field">
                    <label>Email</label>
                    <input type='tezt' class="form__input">
                </div>
                <div class="form__field">
                    <label>Phone</label>
                    <textarea class="form__textarea"></textarea>
                </div>
                <div class="form__field form_terms">
                    <label class="form__checkbox">
                        <input type="checkbox">
                        <span class="form__checkmark"></span>
                    </label>
                    <p>Some action</p>
                </div>
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn">Action</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}