{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}
{% block workspace %}
<div class="ext-workspace">
    <div class="ext-workspace__input">
        <div class="left-block">
            {% if active_project_id %}
            <div class="card">
                <div class="card__wrapper">
                    <div class="card__header card__header_project"><i class='bx bx-task'></i></i>Активный проект:</div>
                    <div class="card__body-active-project">
                        <div class="project__info">
                            <div class="project__info-title">
                                {{ active_project_code }}
                                <p>{{ active_project_name }}</p>
                            </div>
                            <div class="project__info-data">
                                <div class="project__data">
                                    <span>Следующая загрузка:</span>
                                    <p>{{ active_project_next_upload|date:'d.m.Y' }}</p>
                                </div>
                                <div class="project__data">
                                    <span>Срок экспертизы до:</span>
                                    <p>{{ active_project_exp_date|date:'d.m.Y' }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <h2 class="block-title">Активный проект:</h2>
            <div class="project">
                <div class="project__info">
                    <div class="project__info-title">
                        {{ active_project.code }}
                        <p>{{ active_project.name }}</p>
                    </div>
                    <div class="project__info-data">
                        <div class="project__data">
                            <span>Следующая загрузка:</span>
                            <p>{{ active_project.next_upload|date:'d.m.Y' }}</p>
                        </div>
                        <div class="project__data">
                            <span>Срок экспертизы до:</span>
                            <p>{{ active_project.exp_date|date:'d.m.Y' }}</p>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="card">
                <div class="card__wrapper">
                    <div class="card__header"><i class='bx bxs-user-detail'></i>Главный инженер проекта:</div>
                    <div class="card__body-responseble">
                        <div class="card__content">
                            <div class="card__text">
                                <span class="card__name">{{ admin_data.user.last_name }} {{ admin_data.user.first_name }} {{ admin_data.user.patronymic }}</span>
                                <span class="card__job">
                                    <i class='bx bxs-business'></i>{{ admin_data.company.name }}</span>
                                <span class="card__post"><i class='bx bx-id-card'></i>{{ admin_data.position }}</span>
                                <span class="card__role"><i class='bx bx-male'></i>{{ admin_data.user.get_project_role }}</span>
                            </div>
                        </div>
                        <div class="card__contacts">
                            <div class="card__contacts-info">
                                <span class="card__phone"><i class='bx bx-mobile-alt'></i>{{ admin_data.user.phone }}</span>
                                <span class="card__mail"><i class='bx bx-mail-send'></i>{{ admin_data.user.email }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <h2 class="block-title">Главный инженер проекта:</h2>
            <div class="person">
                <div class="person__content">
                    <div class="person__text">
                        <span class="person__name">{{ admin_data.user.last_name }} {{ admin_data.user.first_name }} {{ admin_data.user.patronymic }}</span>
                        <span class="person__job"><i class='bx bxs-business'></i>{{ admin_data.company.name }}</span>
                        <span class="person__post"><i class='bx bx-id-card'></i>{{ admin_data.position }}</span>
                        <span class="person__phone"><i class='bx bx-mobile-alt'></i>{{ admin_data.user.phone }}</span>
                        <span class="person__mail"><i class='bx bx-mail-send'></i>{{ admin_data.user.email }}</span>
                    </div>
                </div>
            </div> -->
            {% else %}
            <div class="card">
                <div class="card__wrapper">
                    <div class="card__header card__header_project"><i class='bx bx-task'></i></i>Активный проект:</div>
                    <div class="card__body-active-project">
                        <div class="project__info">
                            <div class="project__info-title">Проект не выбран</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <h2 class="block-title">Активный проект:</h2>
            <div class="project">
                <div class="project__info">
                    <div class="project__info-title">Проект не выбран</div>
                </div>
            </div> -->
        {% endif %}
            <!-- Блок кнопок -->
            <div class="card">
                <div class="card__wrapper">
                    <div class="card__actions"><i class='bx bx-code-block'></i>Действия</div>
                    <div class="card__body-select-project">
                        {% if user.permission %}
                        <button class='card__btns'  id="add-section">
                            <i class='bx bx-bookmark-plus'></i>
                            Добавить раздел
                        </button>
                        {% endif %}
                        <button class='card__btns' id="add-document">
                            <i class='bx bx-file'></i>
                            Загрузить документ
                        </button>
                        {% if user.permission %}
                        <button class='card__btns' id="add-remarkdoc">
                            <i class='bx bx-file'></i>
                            Загрузить замечания
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- <h2 class="block-title">Действия:</h2>
        {% if user.permission%}
            <div class="actions actions_section">
                <div class="actions__btn" id="add-section">
                    <span class="actions__icon"><i class='bx bx-bookmark-plus'></i></span>
                    <h3 class="actions__name">Добавить раздел</h3>
                </div>
            </div>
        {% endif %}
            <div class="actions actions_document">
                <div class="actions__btn" id="add-document">
                    <span class="actions__icon"><i class='bx bx-file'></i></span>
                    <h3 class="actions__name">Загрузить документ</h3>
                </div>
            </div>
            {% if user.permission%}
            <div class="actions actions_section">
                <div class="actions__btn" id="add-remarkdoc">
                    <span class="actions__icon"><i class='bx bx-file'></i></span>
                    <h3 class="actions__name">Загрузить замечания</h3>
                </div>
            </div>
            {% endif %} -->
        </div>
        <div class="main">
            <div class="relative-table">
                <div class="relative-table__title">
                    <div class="relative-table__left-block"><i class='bx bx-detail'></i> Сводная таблица</div>
                    <div class="relative-table__right-block">
                        {% if user.permission %}
                        <a href="{% url 'main:document_download_all' active_project_id %}"><button>Скачать все</button></a>
                        {% endif %}
                    </div>
                </div>
                <form action="#" class="form-table">
                    <div class="form-table__search">
                        <span>Поиск:</span>
                        <input type="text" name="" id="tableSearch">
                    </div>
                    {% if active_project_id %}
                    {% if object_list %}
                    <table class="form-table__table">
                        <thead>
                        <tr>
                            <th>Md5</th>
                            <th>Шифр раздела</th>
                            <th>Загружен</th>
                            <th>Скачать</th>
                            <th>Статус</th>
                            <th>Версия</th>
                            <th>№ посл. изм.</th>
                            <th>Примечания</th>
                            <th>Исполнитель</th>
                        </tr>
                        </thead>
                        <tbody id="table">
                            {% for object in object_list %}
                            <tr>
                                {% if object.document__id %}
                                    <td title='{{ object.document__md5 }}'><i class='bx bxs-file-md'></i></td>
                                    <td>
                                        {% if user.check_user or object.responsible_id == user.id %}
                                            <a href="{% url 'main:section' object.id %}">
                                                <span class='_code-green'>
                                                    {{ object.project__code }}-{{ object.abbreviation }}
                                                </span>
                                            </a>
                                        {% else %}
                                            <span class='_code-green'>
                                                {{ object.project__code }}-{{ object.abbreviation }}
                                            </span>
                                        {% endif %}
                                    </td>

                                    <td><i class='bx bx-check-circle'></i></td>

                                    <td title='{{ object.document__doc_path }}'>
                                        {% if user.check_user or object.responsible_id == user.id %}
                                            <a href="{% url 'main:document_download' object.document__id %}">
                                                <i class='bx bx-save'></i>
                                            </a>
                                        {% else %}
                                            <i class='bx bx-save'></i>
                                        {% endif %}
                                    </td>
                                    <td>{{ object.document__status }}</td>
                                    <td>{{ object.document__version }}</td>
                                    <td>{{ object.document__variation }}</td>
                                    <td class="general-table__note">{{ object.document__note }}</td>
                                    <td><a href="#">{{ object.company__name }}</a></td>
                                {% else %}
                                    <td>-</td>
                                    <td>
                                        {% if user.check_user or object.responsible_id == user.id %}
                                            <a href="{% url 'main:section' object.id %}">
                                                <span class='_code-green'>
                                                    {{ object.project__code }}-{{ object.abbreviation }}
                                                </span>
                                            </a>
                                        {% else %}
                                            <span class='_code-green'>
                                                {{ object.project__code }}-{{ object.abbreviation }}
                                            </span>
                                        {% endif %}
                                    </td>
                                    <td><i class='bx bx-x-circle'></i></td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td><a href="#">{{ object.company__name }}</a></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                    {% endif %}
                </form>
                <div class="relative-table__footer">
                    <!-- Todo восстановить, когда будет готов функционал -->
                    <!-- <ul class="relative-table__paginator">
                        <li>
                            <a href="#"><span>«</span></a>
                        </li>
                        <li><a href=""><span>1</span></a></li>
                        <li><a href=""><span>2</span></a></li>
                        <li><a href=""><span>3</span></a></li>
                        <li><a href=""><span>4</span></a></li>
                        <li><a href=""><span>»</span></a></li>
                    </ul> -->
                    <div class="relative-table__select">
                        <select name="" id="tableSelect">
                            <option value="2">2 строки</option>
                            <option value="6">4 строки</option>
                            <option value="10">10 строк</option>
                            <option value="-">Показать все</option>
                        </select>
                    </div>
                    {% if actualremark %}
                        <div>Актуальные замечания:
                            <a href="{% url 'main:remarkdoc_download' actualremark.id %}">
                                {{ actualremark }}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="ext-workspace__footer">
        <div class="notification" id="not-pop">
            <div class='notification__bell'><i class='bx bxs-bell'></i>
                <div class="notification__dot"><i class='bx bxs-circle'></i></div>
            </div>
            <div class="pop-mini" id="pop-min">
                <div class="pop-mini__header">
                    <div class="pop-mini__title">Уведомления</div>
                    <div class="pop-mini__subtitle">У Вас 13 пропущенных уведомлений</div>
                </div>
                <div class="pop-mini__body">
                    <div class="pop-mini__content">
                        <div class="not">
                            <div class="not__dot">
                                <i class='bx bx-radio-circle'></i>
                            </div>
                            <div class="not__body">
                                <div class="not__title">Уведомление</div>
                                <div class="not__text">Текст уведомления</div>
                            </div>
                        </div>
                        <div class="not">
                            <div class="not__dot">
                                <i class='bx bx-radio-circle'></i>
                            </div>
                            <div class="not__body">
                                <div class="not__title">Уведомление</div>
                                <div class="not__text">Текст уведомления</div>
                            </div>
                        </div>
                        <div class="not">
                            <div class="not__dot">
                                <i class='bx bx-radio-circle'></i>
                            </div>
                            <div class="not__body">
                                <div class="not__title">Уведомление</div>
                                <div class="not__text">Текст уведомления</div>
                            </div>
                        </div>
                        <div class="not">
                            <div class="not__dot">
                                <i class='bx bx-radio-circle'></i>
                            </div>
                            <div class="not__body">
                                <div class="not__title">Уведомление</div>
                                <div class="not__text">Текст уведомления</div>
                            </div>
                        </div>
                        <div class="not">
                            <div class="not__dot">
                                <i class='bx bx-radio-circle'></i>
                            </div>
                            <div class="not__body">
                                <div class="not__title">Уведомление</div>
                                <div class="not__text">Текст уведомления</div>
                            </div>
                        </div>
                        <div class="not">
                            <div class="not__dot">
                                <i class='bx bx-radio-circle'></i>
                            </div>
                            <div class="not__body">
                                <div class="not__title">Уведомление</div>
                                <div class="not__text">Текст уведомления</div>
                            </div>
                        </div>
                        <div class="not">
                            <div class="not__dot">
                                <i class='bx bx-radio-circle'></i>
                            </div>
                            <div class="not__body">
                                <div class="not__title">Уведомление</div>
                                <div class="not__text">Текст уведомления</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pop-mini__footer">
                    <div class="pop-mini__btn"><button>Посмотреть все</button></div>
                </div>
            </div>
        </div>
        <div class="language">
            <span><i class='bx bx-world'></i>
            </span>
        </div>
        <div class="theme">Dark/Light mode</div>
    </div>
</div>
{% endblock %}
{% block popup %}
<div class="popup" id="popup-project">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_pro">X</a>
            <div class="popup__title">Создание проекта</div>
            <form action="" method="post" class="form">
                {% csrf_token %}

                <div class="form__field">
                    <label>Шифр</label>
                    <input type='text' class="form__input">
                </div>
                <div class="form__field">
                    <label>Наименование</label>
                    <input type='text' class="form__input">
                </div>
                <div class="form__field">
                    <label>Ответственный</label>
                    <div class="form__select">
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>
                <div class="form__field">
                    <label>Срок экспертизы</label>
                    <input type='date' class="form__input">
                </div>
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn">Создать проект</button>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="popup" id="popup-section">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_sec">X</a>
            <div class="popup__title">Добавить раздел</div>
            <form action="" method="post" class="form">
                {% csrf_token %}
                <div class="form__field">
                    <label for="{{ add_section_form.abbreviation.id_for_label }}">Шифр раздела</label>
                    {{ add_section_form.abbreviation }}
                    {# <span id="secRefAdd">#}
                        {# <i class='bx bx-plus' id="secRefAdd"></i>#}
                        {# </span>#}
                </div>
                <div class="form__field">
                    <label for="{{ add_section_form.name.id_for_label }}">Наименование</label>
                    {{ add_section_form.name }}
                </div>
                <div class="form__field">
                    <label for="{{ add_section_form.company.id_for_label }}">Выбор компании</label>
                    <div class="form__select">
                        {{ add_section_form.company }}
                    </div>
                </div>
                {# <div class="form__field">#}
                    {# <label>Выбор ответственного</label>#}
                    {# <div class="form__select">#}
                        {# <select>#}
                            {# <option value="">1</option>#}
                            {# <option value="">2</option>#}
                            {# <option value="">3</option>#}
                            {# </select>#}
                        {# </div>#}
                    {# </div>#}
                {# <div class="form__field">#}
                    {# <label>Выбор эксперта</label>#}
                    {# <div class="form__select">#}
                        {# <select>#}
                            {# <option value="">1</option>#}
                            {# <option value="">2</option>#}
                            {# <option value="">3</option>#}
                            {# </select>#}
                        {# </div>#}
                    {# </div>#}
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn" name="{{ add_section_form.prefix }}"
                        value="Submit">Создать раздел</button>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="popup" id="popup-section2">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_sec2">X</a>
            <div class="popup__title">Создать раздел</div>
            <form action="" method="post" class="form">
                {% csrf_token %}
                <div class="form__field">
                    <label>Наименование</label>
                    <input type='text' class="form__input">
                </div>
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn">Создать раздел</button>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="popup" id="popup-document">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_doc"><i class='bx bx-plus-circle form-close'></i></a>
            <div class="popup__title">Загрузка документа</div>
            <form action="" method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form__field">
                    <label for="{{ doc_form.status.id_for_label }}">Статус</label>
                    <div class="form__select">
                        {{ doc_form.status }}
                    </div>
                </div>
                <div class="form__field">
                    <label for="{{ doc_form.doc_path.id_for_label }}">Файл</label>
                    {{ doc_form.doc_path }}
                </div>
                <div class="form__field">
                    <label for="{{ doc_form.section.id_for_label }}">Раздел</label>
                    <div class="form__select">
                        {{ doc_form.section }}
                    </div>
                </div>
                <div class="form__field">
                    <label for="{{ doc_form.note.id_for_label }}">Примечания</label>
                    {{ doc_form.note }}
                </div>
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn" name="{{ doc_form.prefix }}" value="Submit">
                        Загрузить документ
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="popup" id="popup-remarkdoc">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_remarkdoc"><i class='bx bx-plus-circle form-close'></i></a>
            <div class="popup__title">Загрузка замечаний</div>
            <form action="" method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form__field">
                    <label for="{{ remarkdoc_form.name.id_for_label }}">Наименование</label>
                    {{ remarkdoc_form.name }}
                </div>
                <div class="form__field">
                    <label for="{{ remarkdoc_form.doc_path.id_for_label }}">Файл</label>
                    {{ remarkdoc_form.doc_path }}
                </div>
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn" name="{{ remarkdoc_form.prefix }}" value="Submit">
                        Загрузить замечания
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="popup {% if errors %}popup_open{% endif %}" id="popup-error">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_error"><i class='bx bx-plus-circle form-close'></i></a>
            <div class="popup__title">Ошибка!</div>
            <div>{{ errors }}</div>
        </div>
    </div>
</div>
{% endblock %}
