{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Versionize | Total table
{% endblock %}
{% block workspace %}
<div class="ext-workspace">
    <div class="ext-workspace__input">
        <div class="left-block">
            <!-- Можно использовать как для пользователя, так и для эксперта/ответственного -->
            {% if active_project_id %}
            <h2 class="block-title">Активный проект:</h2>
            <div class="project">
                <div class="project__info">
                    <div class="project__info-title">
                        {{ active_project_code }}
                        <p>{{ active_project_name }}</p>
                    </div>
                    <div class="project__info-data">
                        <div class="project__data">
                            <span>Следующая загрузка:</span>
                            <p>{{ active_project_next_upload|date:'d.m.Y' }}</p>
                        </div>
                        <div class="project__data">
                            <span>Срок экспертизы до:</span>
                            <p>{{ active_project_exp_date|date:'d.m.Y' }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="block-title">Главный инженер проекта:</h2>
            <div class="person">
                <div class="person__content">
                    <div class="person__text">
                        {% with object_list.1.project.get_admin as admin %}
                        <span class="person__name">{{ admin.get_fullname }}</span>
                        <span class="person__job"><i class='bx bxs-business'></i>{{ admin.get_company.name }}</span>
                        <span class="person__post"><i class='bx bx-id-card'></i>{{ admin.get_position }}</span>
                        <span class="person__role"><i class='bx bx-male'></i>{{ admin.get_project_role }}</span>
                        <span class="person__phone"><i class='bx bx-mobile-alt'></i>{{ admin.phone }}</span>
                        <span class="person__mail"><i class='bx bx-mail-send'></i>{{ admin.email }}</span>
                        {% endwith %}
                    </div>
                </div>
            </div>
            {% else %}
            <h2 class="block-title">Активный проект:</h2>
            <div class="project">
                <div class="project__info">
                    <div class="project__info-title">Проект не выбран</div>
                </div>
            </div>
            {% endif %}
            <!-- Блок кнопок -->
            <h2 class="block-title">Действия:</h2>
            <div class="actions actions_section">
                <div class="actions__btn" id="add-section">
                    <span class="actions__icon"><i class='bx bx-bookmark-plus'></i></span>
                    <h3 class="actions__name">Добавить раздел</h3>
                </div>
            </div>
            <div class="actions actions_section">
                <div class="actions__btn" id="add-section_new">
                    <span class="actions__icon"><i class='bx bx-bookmark-plus'></i></span>
                    <h3 class="actions__name">Создать раздел</h3>
                </div>
            </div>
            <div class="actions actions_document">
                <div class="actions__btn" id="add-document">
                    <span class="actions__icon"><i class='bx bx-file'></i></span>
                    <h3 class="actions__name">Загрузить документ</h3>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="general-table">
                <h2>Сводная таблица</h2>
                {% if active_project_id %}
                {% if object_list %}
                <table>
                    <thead>
                        <tr>
                            <th>Md5</th>
                            <th>Шифр раздела</th>
                            <th>Загружен</th>
                            <th>Скачать</th>
                            <th>Статус</th>
                            <th>Версия</th>
                            <th>№ посл. изм.</th>
                            <th>Примечания</th>
                            <th>Исполнитель</th>
                            <!-- <th>Диаграмма Ганта</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for section in object_list %}
                        {% with section.get_latest_linked_document as document %}
                        <tr>
                            <td title='{{ document.md5 }}'><i class='bx bxs-file-md'></i></td>
                            <td><a href="{% url 'main:section' section.id %}">
                                    <span class='_code-green'>{{ section.project.code }}</span></a></td>
                            <td><i class='bx bx-check-circle'></i></td>
                            <td><a href="#"><i class='bx bx-save'></i></a></td>
                            <td>{{ document.status }}</td>
                            <td>{{ document.version }}</td>
                            <td>{{ document.variation }}</td>
                            <td class="general-table__note">{{ document.note }}</td>
                            <td><a href="#">{{ section.company }}</a></td>
                        </tr>
                        {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="ext-workspace__footer">
        <div class="notification">
            <button class="notification__btn">
                <span><i class='bx bxs-bell'></i>
                    <div class="notification__dot"></div>
                </span>
            </button>
        </div>
        <div class="language">Смена языка</div>
        <div class="theme">Dark/Light mode</div>
    </div>
</div>
{% endblock %}
{% block popup %}
<div class="popup" id="popup-project">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_pro">X</a>
            <div class="popup__title">Создание проекта</div>
            <form action="" method="post" class="form">
                {% csrf_token %}

                <div class="form__field">
                    <label>Шифр</label>
                    <input type='text' class="form__input">
                </div>
                <div class="form__field">
                    <label>Наименование</label>
                    <input type='text' class="form__input">
                </div>
                <div class="form__field">
                    <label>Ответственный</label>
                    <div class="form__select">
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>
                <div class="form__field">
                    <label>Срок экспертизы</label>
                    <input type='date' class="form__input">
                </div>
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn">Создать проект</button>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="popup" id="popup-section">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_sec">X</a>
            <div class="popup__title">Добавить раздел</div>
            <form action="" method="post" class="form">
                {% csrf_token %}
                <div class="form__field">
                    <label>Выбор раздела</label>
                    <div class="form__select">
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>
                <div class="form__field">
                    <label>Выбор проекта</label>
                    <div class="form__select">
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>
                <div class="form__field">
                    <label>Наименование</label>
                    <input type='text' class="form__input">
                </div>
                <div class="form__field">
                    <label>Выбор компании</label>
                    <div class="form__select">
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>
                <div class="form__field">
                    <label>Выбор ответственногого</label>
                    <div class="form__select">
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>
                <div class="form__field">
                    <label>Выбор эксперта</label>
                    <div class="form__select">
                        <select>
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                </div>
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn">Создать раздел</button>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="popup" id="popup-section2">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_sec2">X</a>
            <div class="popup__title">Создать раздел</div>
            <form action="" method="post" class="form">
                {% csrf_token %}
                <div class="form__field">
                    <label>Наименование</label>
                    <input type='text' class="form__input">
                </div>
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn">Создать раздел</button>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="popup" id="popup-document">
    <div class="popup__body">
        <div class="popup__content">
            <a href="#" class="popup__close" id="popup__close_doc">X</a>
            <div class="popup__title">Загрузка документа</div>
            <form action="" method="post" class="form">
                {% csrf_token %}
                <div class="form__field">
                    <label>Статус</label>
                    <div class="form__select">
                        <select>
                            <option value="">Номер1</option>
                            <option value="">Номер2</option>
                            <option value="">Номер3</option>
                        </select>
                    </div>
                </div>
                <div class="form__field">
                    <label>Наименование</label>
                    <input type='tezt' class="form__input">
                </div>
                <div class="form__field">
                    <label>Файл</label>
                    <input type='file' class="form__input" accept=".pdf">
                </div>
                <div class="form__field">
                    <label>Раздел</label>
                    <div class="form__select">
                        <select>
                            <option value="">Номер1</option>
                            <option value="">Номер2</option>
                            <option value="">Номер3</option>
                        </select>
                    </div>
                </div>
                <div class="form__field">
                    <label>Примечания</label>
                    <textarea class="form__textarea"></textarea>
                </div>
                <div class="form__submit">
                    <button type="submit" class="form__submit-btn">Создать документ</button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}