{% extends 'admins/admin_base.html' %}
{% load static %}



{% block title %}
    Create User
{% endblock %}

{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Информация о пользователе | {{ usercompanyinfo.user }}</h1>
                <form action="{% url 'admins:admins_usersinfo_edit' usercompanyinfo.id %}" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-lg-6">
                            <label class="small mb-1" for="{{ form.company.id_for_label }}">Название компании</label>
                            {{ form.company }}
                        </div>
                        <div class="col-lg-6">
                            <label class="small mb-1" for="{{ form.department.id_for_label }}">Название отдела</label>
                            {{ form.department }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-6">
                            {{ form.chief_project_engineer }}
                            <label class="small mb-1" for="{{ form.chief_project_engineer.id_for_label }}">Является
                                главным инженером проекта</label>
                        </div>
                        <div class="col-lg-6">
                            {{ form.assistant }}
                            <label class="small mb-1" for="{{ form.assistant.id_for_label }}">Является помощником
                                ГИПа</label>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col-lg-6">
                            {{ form.expert }}
                            <label class="small mb-1" for="{{ form.expert.id_for_label }}">Является экспертом</label>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-12" style="margin-top: 33px;">
                            <input class="btn btn-info btn-block" type="submit" value="Сохранить">
                        </div>
                    </div>
                </form>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                </div>
            </div>
        </footer>
    </div>
{% endblock %}