{% extends 'admins/admin_base.html' %}

{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Информация о пользователях</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Пользователи
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Имя пользователя</th>
                                    <th>Организация</th>
                                    <th>Отдел</th>
                                    <th>Должность</th>
                                    <th>Эксперт</th>
                                    <th>ГИП</th>
                                    <th>Помощник ГИПа</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in object_list %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'admins:admins_usersinfo_edit' user.id %}"    style="color: dodgerblue">
                                            {{ user.user }}
                                        </a>
                                        </td>

                                        <td>{{ user.company }}</td>
                                        <td>{{ user.department }}</td>
                                        <td>{{ user.position }}</td>
                                        <td class="text-center">
                                            {% if user.expert %}
                                                <i class="fas fa-check-circle"></i></td>
                                            {% else %}
                                                <i class="fas fa-times-circle"></i>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% if user.chief_project_engineer %}
                                                <i class="fas fa-check-circle"></i></td>
                                            {% else %}
                                                <i class="fas fa-times-circle"></i>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% if user.assistant %}
                                                <i class="fas fa-check-circle"></i></td>
                                            {% else %}
                                                <i class="fas fa-times-circle"></i>
                                            {% endif %}
                                        </td>


                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'admins:admins_addinfo' %}">
                            <button class="btn btn-success">Добавить информацию о пользователе</button>
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                </div>
            </div>
        </footer>
    </div>
{% endblock %}